<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>EscuelaSantaLucia</display-name>
 <context-param>
  <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>client</param-value>
 </context-param>
 <filter>
  <filter-name>CORS</filter-name>
  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  <init-param>
   <param-name>cors.allowed.origins</param-name>
   <param-value>*</param-value>
  </init-param>
  <init-param>
   <param-name>cors.allowed.methods</param-name>
   <param-value>GET, POST, HEAD, DELETE, PUT, OPTIONS</param-value>
  </init-param>
  <init-param>
   <param-name>cors.allowed.headers</param-name>
   <param-value>Origin, Accept, X-Requested-With, auth0, rol, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers</param-value>
  </init-param>
   <init-param>
    <param-name>cors.exposed.headers</param-name>
    <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
 </init-param>
 </filter>
 <filter-mapping>
  <filter-name>CORS</filter-name>
  <url-pattern>/rest/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Jersey REST Service</servlet-name>
  <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  <init-param>
   <param-name>jersey.config.server.provider.packages</param-name>
   <param-value>ar.com.santalucia.login, ar.com.santalucia.rest, ar.com.santalucia.rest.config</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <display-name>ServicioLogin</display-name>
  <servlet-name>ServicioLogin</servlet-name>
  <servlet-class>org.jboss.samples.webservices.HelloWorld</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Jersey REST Service</servlet-name>
  <url-pattern>/rest/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServicioLogin</servlet-name>
  <url-pattern>/ServicioLogin</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
  <cookie-config>
   <name>istalucia_tracker</name>
   <http-only>true</http-only>
   <secure>true</secure>
  </cookie-config>
  <tracking-mode>COOKIE</tracking-mode>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsf</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>/vistas/index.jsf</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>500</error-code>
  <location>/vistas/vOtros/Error500.html</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/vistas/vOtros/Error404.html</location>
 </error-page>
 <jsp-config>
  <jsp-property-group>
   <url-pattern>*.xhtml</url-pattern>
  </jsp-property-group>
 </jsp-config>
</web-app>
