<div class="col-md-2 hidden-sm hidden-xs">
	<div>
		<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
		<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix style="position: relative; text-align: right;">
			<ul class="nav bs-sidenav">
				<li bs-scrollspy data-target="#getting-started">
					<a href="">Men&uacute; Materia</a>
				</li>
				<hr style="margin: 2px 0;">
				<li ng-repeat="materia in listaMaterias"  ng-class="{active : activeMenu === materia.idMateria}" data-target="#modals">
					<a href="" ng-click="setActive(materia)">{{materia.nombre}} - {{materia.anio}}</a>
				</li>
				<li>
					<img class="col-md-10" style="position: relative" src="./images/logo.jpg">
				</li>			
			</ul>
		</div>
		<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->

	</div>
</div>

<div class="">
	<spinner name="searchMatDocenteSpinner" ng-cloak="">
		<div class="overlay"></div>
		<div class="spinner-small">			            
			<div>
				<div class="ng-include: 'scripts/views/defaultspinner.html'"></div>
			</div>
		</div>
		<div class="please-wait-small">Aguarde por favor...</div>
	</spinner>
	<fieldset>
		<h1>{{titulo}}: 
			<small ng-show="selecMateriaMensaje">En el men&uacute; izquierdo se encuentra el listado de materias que tiene asignadas. Seleccione una para ver las plantillas trimestrales</small>
			<small ng-show="!selecMateriaMensaje">Despliegue el per&iacute;odo que desee</small>
		</h1>
		<hr>
		<div class="panel panel-default">
			<div class="panel-heading">
				<form name="formSelectCurso">
					<label for="dropDownSelectCurso">Divisi&oacute;n: </label> 
					<select name="dropDownSelectCurso" ng-change="resetAdministrarTable(); toggleListaPlantillasTrim(false)" class="form-control-inline" ng-model="dropDownSelectedCurso" ng-options="'Division: ' + curso.division + ' Turno: ' + curso.turno for curso in dropDownSelectedAnio.listaCursos" required>
						<option value="" disabled selected>Seleccione una divisi&oacute;n</option>
					</select>
					<button class="btn btn-default" ng-click="toggleListaPlantillasTrim(true)" ng-disabled="!formSelectCurso.$valid">Buscar</button>
				</form>
			</div>
		</div>
		<hr>
		<div ng-show="listaPlantillasTrim">
			<div class="panel-group" ng-model="multiplePanels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="getPlanillas(1)" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 0)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span> Primer Trimestre					
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body form-group table-responsive">
							<div class="alert alert-warning alert-dismissible col-md-7" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								Presione "Editar planilla" para asignar/editar las notas y luego haga click en "Finalizar Edici&oacute;n" para guardar los cambios realizados
							</div>
							<table class="table-hover table-striped table-condensed table-bordered col-md-6" export-table="doc-primer-trim">
								<thead>
									<tr>
										<tr style="visibility: hidden">
											<th>{{selectedMAteria.nombre}}</th>
											<th>{{selectedMAteria.anio}}</th>
											<th>{{dropDownSelectedCurso.division}}</th>
										</tr>
										<th class="col-md-2">
											<div ng-show="!colocarNota">
												<button type="button" class="btn btn-default btn-block btn-xs" style="float: top" ng-click="colocarNota=!colocarNota; createCopy(planillas.planilla1)">Editar Planilla</button>
												<button type="button" class="btn btn-default btn-block btn-xs" ng-click="exportAction('doc-primer-trim')" style="float: top">Exportar Tabla</button>
											</div>
											<div ng-show="colocarNota">
												<button type="button" class="btn btn-danger btn-block btn-md" style="float: top" ng-click="colocarNota=!colocarNota">Cancelar Edici&oacute;n</button>
												<button type="button" class="btn btn-primary btn-block btn-md" style="float: top" ng-click="colocarNota=!colocarNota; saveEditNota(copiaLista, 1)">Finalizar Edici&oacute;n</button>
											</div>
										</th>
										<th class="col-md-2" style="vertical-align: middle; text-align: center;">Primer trimestre</th>
										<!-- <th class="col-md-2" style="vertical-align: middle; text-align: center;">Calif anual</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="lista in copiaLista" ng-show="colocarNota">
										<td class="col-md-6">{{$index+1}} - {{lista.alumno}}</td>
										<td class="col-md-3"><input ng-model="lista.nota" type="number" class="form-control" style="width: 48px; height: 27px; margin: auto" placeholder="-"></td>
										<!-- <td style="vertical-align: middle; text-align: center;">{{lista.califAnual}}</td> -->
									</tr>
									<tr ng-repeat="lista in planillas.planilla1"  ng-show="!colocarNota">
										<td class="col-md-6">{{$index+1}} - {{lista.alumno}}</td>
										<td class="col-md-3" style="vertical-align: middle; text-align: center;">{{lista.nota}}</td>
										<!-- <td style="vertical-align: middle; text-align: center;">{{lista.califAnual}}</td> -->
									</tr>
								</tbody>
							</table>
							<div ng-show="colocarNota" class="col-md-7 col-md-offset-1" style="margin-top:10px">
								<button type="button" class="btn btn-danger btn-md" ng-click="colocarNota=!colocarNota">Cancelar Edici&oacute;n</button>
								<button type="button" class="btn btn-primary btn-md" ng-click="colocarNota=!colocarNota; saveEditNota(copiaLista, 1)">Finalizar Edici&oacute;n</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="getPlanillas(2); downGlyphiconSegundoTri = !downGlyphiconSegundoTri" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 1)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span> Segundo Trimestre
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body form-group table-responsive">
							<div class="alert alert-warning alert-dismissible col-md-7" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								Presione "Editar planilla" para asignar/editar las notas y luego haga click en "Finalizar Edici&oacute;n" para guardar los cambios realizados
							</div>
							<table class="table-hover table-striped table-condensed table-bordered col-md-6" export-table="doc-segundo-trim">
								<thead>
									<tr>
										<tr style="visibility: hidden">
											<th>{{selectedMAteria.nombre}}</th>
											<th>{{selectedMAteria.anio}}</th>
											<th>{{dropDownSelectedCurso.division}}</th>
										</tr>
										<th class="col-md-2">
											<div ng-show="!colocarNota">
												<button type="button" class="btn btn-default btn-block btn-xs" style="float: top" ng-click="colocarNota=!colocarNota; createCopy(planillas.planilla2)">Editar Planilla</button>
												<button type="button" class="btn btn-default btn-block btn-xs" ng-click="exportAction('doc-segundo-trim')" style="float: top">Exportar Tabla</button>
											</div>
											<div ng-show="colocarNota">
												<button type="button" class="btn btn-danger btn-block btn-md" style="float: top" ng-click="colocarNota=!colocarNota">Cancelar Edici&oacute;n</button>
												<button type="button" class="btn btn-primary btn-block btn-md" style="float: top" ng-click="colocarNota=!colocarNota; saveEditNota(copiaLista, 2)">Finalizar Edici&oacute;n</button>
											</div>
										</th>
										<th class="col-md-2" style="vertical-align: middle; text-align: center;">Primer trimestre</th>
										<!-- <th class="col-md-2" style="vertical-align: middle; text-align: center;">Calif anual</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="lista in copiaLista" ng-show="colocarNota">
										<td class="col-md-6">{{$index+1}} - {{lista.alumno}}</td>
										<td class="col-md-3"><input ng-model="lista.nota" type="number" class="form-control" style="width: 48px; height: 27px; margin: auto" placeholder="-"></td>
										<!-- <td style="vertical-align: middle; text-align: center;">{{lista.califAnual}}</td> -->
									</tr>
									<tr ng-repeat="lista in planillas.planilla2"  ng-show="!colocarNota">
										<td class="col-md-6">{{$index+1}} - {{lista.alumno}}</td>
										<td class="col-md-3" style="vertical-align: middle; text-align: center;">{{lista.nota}}</td>
										<!-- <td style="vertical-align: middle; text-align: center;">{{lista.califAnual}}</td> -->
									</tr>
								</tbody>
							</table>
							<div ng-show="colocarNota" class="col-md-7 col-md-offset-1" style="margin-top:10px">
								<button type="button" class="btn btn-danger btn-md" ng-click="colocarNota=!colocarNota">Cancelar Edici&oacute;n</button>
								<button type="button" class="btn btn-primary btn-md" ng-click="colocarNota=!colocarNota; saveEditNota(copiaLista, 2)">Finalizar Edici&oacute;n</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="getPlanillas(3); downGlyphiconTercerTri = !downGlyphiconTercerTri" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 2)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span> Tercer Trimestre
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body form-group table-responsive">
							<div class="alert alert-warning alert-dismissible col-md-7" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								Presione "Editar planilla" para asignar/editar las notas y luego haga click en "Finalizar Edici&oacute;n" para guardar los cambios realizados
							</div>
							<table class="table-hover table-striped table-condensed table-bordered col-md-6" export-table="doc-tercer-trim">
								<thead>
									<tr>
										<tr style="visibility: hidden">
											<th>{{selectedMAteria.nombre}}</th>
											<th>{{selectedMAteria.anio}}</th>
											<th>{{dropDownSelectedCurso.division}}</th>
										</tr>
										<th class="col-md-2">
											<div ng-show="!colocarNota">
												<button type="button" class="btn btn-default btn-block btn-xs" style="float: top" ng-click="colocarNota=!colocarNota; createCopy(planillas.planilla3)">Editar Planilla</button>
												<button type="button" class="btn btn-default btn-block btn-xs" ng-click="exportAction('doc-tercer-trim')" style="float: top">Exportar Tabla</button>
											</div>
											<div ng-show="colocarNota">
												<button type="button" class="btn btn-danger btn-block btn-md" style="float: top" ng-click="colocarNota=!colocarNota">Cancelar Edici&oacute;n</button>
												<button type="button" class="btn btn-primary btn-block btn-md" style="float: top" ng-click="colocarNota=!colocarNota; saveEditNota(copiaLista, 3)">Finalizar Edici&oacute;n</button>
											</div>
										</th>
										<th class="col-md-2" style="vertical-align: middle; text-align: center;">Primer trimestre</th>
										<!-- <th class="col-md-2" style="vertical-align: middle; text-align: center;">Calif anual</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="lista in copiaLista" ng-show="colocarNota">
										<td class="col-md-6">{{$index+1}} - {{lista.alumno}}</td>
										<td class="col-md-3"><input ng-model="lista.nota" type="number" class="form-control" style="width: 48px; height: 27px; margin: auto" placeholder="-"></td>
										<!-- <td style="vertical-align: middle; text-align: center;">{{lista.califAnual}}</td> -->
									</tr>
									<tr ng-repeat="lista in planillas.planilla3"  ng-show="!colocarNota">
										<td class="col-md-6">{{$index+1}} - {{lista.alumno}}</td>
										<td class="col-md-3" style="vertical-align: middle; text-align: center;">{{lista.nota}}</td>
										<!-- <td style="vertical-align: middle; text-align: center;">{{lista.califAnual}}</td> -->
									</tr>
								</tbody>
							</table>
							<div ng-show="colocarNota" class="col-md-7 col-md-offset-1" style="margin-top:10px">
								<button type="button" class="btn btn-danger btn-md" ng-click="colocarNota=!colocarNota">Cancelar Edici&oacute;n</button>
								<button type="button" class="btn btn-primary btn-md" ng-click="colocarNota=!colocarNota; saveEditNota(copiaLista, 3)">Finalizar Edici&oacute;n</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="cargarPlanilla('diciembre'); downGlyphiconDiciembre = !downGlyphiconDiciembre" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 3)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span> Diciembre
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body form-group table-responsive">
							<table class="table-hover table-striped table-condensed table-bordered">
								<thead>
									<tr style="height: 95px; position: relative;" class="affix" data-offset-top="-60">
										<th class="col-md-3">
											<button type="button" class="btn btn-success btn-block btn-md" style="float: top">Editar Plantilla</button>
										</th>
										<th class="Rotate-90 col-md-1" ng-repeat="mate in planillaDiciembre.listaTrimestres[0].notas" style="vertical-align: middle; padding: inherit;">{{mate.materia}}</th>	<!--Esto toma del primer alumno la lista de materias y las muestra en el head-->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="lista in planillaDiciembre.listaTrimestres">
										<td class="col-md-3">{{$index+1}} - {{lista.alumno}}</td>
										<!-- <td ng-repeat="nota in lista.notas"><input ng-model="nota.nota" type="text" class="form-control" style="width: 48px; height: 27px; margin: auto"></td> -->
										<td ng-repeat="nota in lista.notas" style="vertical-align: middle; text-align: center;">{{nota.nota}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="cargarPlanilla('marzo'); downGlyphiconMarzo = !downGlyphiconMarzo" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 4)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span> Marzo
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body form-group table-responsive">
							<table class="table-hover table-striped table-condensed table-bordered">
								<thead>
									<tr style="height: 95px; position: relative;" class="affix" data-offset-top="-60">
										<th class="col-md-3">
											<button type="button" class="btn btn-success btn-block btn-md" style="float: top">Editar Plantilla</button>
										</th>
										<th class="Rotate-90 col-md-1" ng-repeat="mate in planillaMarzo.listaTrimestres[0].notas" style="vertical-align: middle; padding: inherit;">{{mate.materia}}</th>	<!--Esto toma del primer alumno la lista de materias y las muestra en el head-->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="lista in planillaMarzo.listaTrimestres">
										<td class="col-md-3">{{$index+1}} - {{lista.alumno}}</td>
										<!-- <td ng-repeat="nota in lista.notas"><input ng-model="nota.nota" type="text" class="form-control" style="width: 48px; height: 27px; margin: auto"></td> -->
										<td ng-repeat="nota in lista.notas" style="vertical-align: middle; text-align: center;">{{nota.nota}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			<!--	<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="cargarPlanilla('todos'); downGlyphiconTodos = !downGlyphiconTodos" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 5)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span> Todos los conceptos
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body form-group table-responsive">
							<table class="table-hover table-striped table-condensed table-bordered">
								<thead>
									<tr class="centerTable">
										<th class="col-md-3">
											<button type="button" class="btn btn-success btn-block btn-md">Editar Plantilla</button>
										</th>
										<th class="col-md-1">
											1° Trim. 
										</th>
										<th class="col-md-1">
											2° Trim.	
										</th>
										<th class="col-md-1">
											3° Trim.	
										</th>
										<th class="col-md-1">
											Calific. Final	
										</th>
										<th class="col-md-1">
											Eval Dic.	
										</th>
										<th class="col-md-1">
											Eval Feb.	
										</th>
										<th class="col-md-1">
											Calif Definitiva
										</th>
										
									</tr>
								</thead>
								<tbody>
									<tr><input type="text" ng-model="filtro"><button ng-click="prueba()">Ok</button></tr>
									<tr>{{filteredAlumnos}}</tr>
									<tr class="centerTable" ng-repeat="alumno in filteredAlumnos = (planillaTodos.listaTrimestres | filter:filtro)">
										<td class="col-md-3">{{$index+1}} - {{alumno.alumno}}</td>
										<td ng-repeat="nota in lista.notas"><input ng-model="nota.nota" type="text" class="form-control" style="width: 48px; height: 27px; margin: auto"></td>
										<td ng-class="{'desaprobado': alumno.primerTrim < 6}">{{alumno.primerTrim}}</td>
										<td ng-class="{'desaprobado': alumno.segundoTrim < 6}">{{alumno.segundoTrim}}</td>
										<td ng-class="{'desaprobado': alumno.tercerTrim < 6}">{{alumno.tercerTrim}}</td>
										<td ng-class="{'desaprobado': alumno.califAnual < 6}">{{alumno.califAnual}}</td>
										<td ng-class="{'desaprobado': alumno.primerTrim < 6}">{{alumno.primerTrim}}</td>
										<td ng-class="{'desaprobado': alumno.califDic < 6}">{{alumno.califDic}}</td>
										<td ng-class="{'desaprobado': alumno.califMarzo < 6}">{{alumno.califMarzo}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</fieldset>
</div>	