<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Operaciones</h4>
      </div>
      <div class="aside-body">

        <ul class="nav bs-sidenav">
          <li bs-scrollspy data-target="#getting-started">
            <a href="">{{titulo}}</a>
          </li>
          <hr style="margin: 2px 0;">
          <li ng-class="{active : activeMenuIzqAlu === 1}" data-target="#desemp">
            <a href="" ng-click="seleccionar('desemp'); $hide()">Desempe&ntilde;o</a>
          </li>
          <li ng-class="{active : activeMenuIzqAlu === 2}" data-target="#examenes">
            <a href="" ng-click="seleccionar('examenes'); $hide()">Ex&aacute;menes</a>
          </li>
          <li ng-class="{active : activeMenuIzqAlu === 3}" data-target="#certificados">
            <a href="" ng-click="seleccionar('certificados'); $hide()">Certificados</a>
          </li>
        </ul>
        
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
