<div class="navbar-inverse bs-docs-nav" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-template-url="./scripts/alumno/operaciones/aside/operacionessidebar.aside.tpl.html" data-animation="am-fade-and-slide-left" data-placement="left" title="Menu" bs-aside="aside">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</div>
<div class="col-md-2 hidden-sm hidden-xs">
	<div>
		<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
		<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix style="position: relative; text-align: right;">
			<ul class="nav bs-sidenav">
				<li bs-scrollspy data-target="#getting-started">
					<a href="">{{titulo}}</a>
				</li>
				<hr style="margin: 2px 0;">
				<li ng-class="{active : activeMenuIzqAlu === 1}" data-target="#desemp">
					<a href="" ng-click="seleccionar('desemp')">Desempe&ntilde;o</a>
				</li>
				<li ng-class="{active : activeMenuIzqAlu === 2}" data-target="#examenes">
					<a href="" ng-click="seleccionar('examenes')">Ex&aacute;menes</a>
				</li>
				<li ng-class="{active : activeMenuIzqAlu === 3}" data-target="#certificados">
					<a href="" ng-click="seleccionar('certificados')">Certificados</a>
				</li>
				<li>
					<img class="col-md-10" style="position: relative" src="./images/logo.jpg">
				</li>			
			</ul>
		</div>
		<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->
	</div>
</div>

<div>
	<spinner name="searchOperacionesSpinner" ng-cloak="">
		<div class="overlay"></div>
		<div class="spinner-small">			            
			<div>
				<div class="ng-include: './views/templates/defaultspinner.html'"></div>
			</div>
		</div>
		<div class="please-wait-small">Aguarde por favor...</div>
	</spinner>
	<div ng-show="desemp">
		<fieldset>
			<h1>{{subtitle}}<small>: Los datos corresponden al a&ntilde;o calendario vigente</small></h1>
			<hr>
			<div class="panel-group" ng-model="multiplePanels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="getPlanillaInasistencias()" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 0)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span>Inasistencias
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body form-group">
							<div class="container">
								<div class="row">
									<div class="col-md-10">
										<div class="box-margin-lib personal-info">
											<div class="form-horizontal margin-lib">
												<div class="form-group">
													<label class="col-md-4">Nombre y Apellido: </label>
													<span class="col-md-8">{{boletinInasistencias.nombre}} {{boletinInasistencias.apellido}}</span>
												</div>
												<div class="form-group">
													<label class="col-md-4">DNI: </label>
													<span class="col-md-5">{{boletinInasistencias.nroDocumento}}</span>
												</div>
												<div class="form-group">
													<label class="col-md-4">Cursa actualmente: </label>
													<span class="col-md-5">{{boletinInasistencias.anio}} {{boletinInasistencias.curso}}</span>
												</div>
												<div class="form-group">
													<label class="col-md-4">A&ntilde;o: </label>
													<span class="col-md-5">{{boletinInasistencias.cicloLectivo}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" style="margin-top: 5px;">
									<div class="col-md-10">
										<div class="box-margin-lib personal-info table-responsive">
											<table class="table table-hover table-striped table-condensed">
												<thead>
													<tr>
														<th class="col-md-2">Fecha</th>
														<th class="col-md-2">Inasistencia a</th>
														<th class="col-md-1">Faltas</th>
														<th class="col-md-1">Justificada</th>
														<th class="col-md-1">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="inasistencia in boletinInasistencias.listaInasistencias | orderBy:'fecha'" ng-form="formRow">
														<td>
															<div>{{inasistencia.fecha | amDateFormat:'DD/MM/YYYY'}}</div>
														</td>
														<td>
															<div>{{inasistencia.concepto}}</div>
														</td>
														<td>
															<div>{{inasistencia.cantidad}}</div>
														</td>
														<td>
															<div>
																<span class="glyphicon glyphicon-ok" ng-show="{{inasistencia.justificada}}" bs-tooltip="tooltip.tooltipJustif"></span>
																<span class="glyphicon glyphicon-remove" ng-show="!{{inasistencia.justificada}}" bs-tooltip="tooltip.tooltipInjustif"></span>
															</div>
														</td>
														<td>
															<div>{{totalIn[$index]}}</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row" style="margin-top: 5px;">
									<div class="col-md-10">
										<div class="box-margin-lib personal-info">
											<div class="form-horizontal margin-lib">
												<div class="form-group">
													<label class="col-md-4">Total Justificadas: </label>
													<span class="col-md-8">{{totalInJ[totalInJ.length-1]}}</span>
												</div>
												<div class="form-group">
													<label class="col-md-4">Total Injustificadas: </label>
													<span class="col-md-5">{{totalInI[totalInI.length-1]}}</span>
												</div>
												<div class="form-group">
													<label class="col-md-4">Total: </label>
													<span class="col-md-5">{{totalIn[totalIn.length-1]}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 1)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span>Materias previas
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body">
							<div class="container">
								<div class="row" style="margin-top: 5px;">
									<div class="col-md-7">
										<div class="box-margin-lib personal-info table-responsive">
											<table class="table table-hover table-striped table-condensed">
												<thead>
													<tr>
														<th class="col-md-2">Materia</th>
														<th class="col-md-2">A&ntilde;o de cursado</th>
														<th class="col-md-3">Observaciones</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="previa in listaPrevias | orderBy:'fecha'" ng-form="formRow">
														<td>
															<div>{{previa.materia}}</div>
														</td>
														<td>
															<div>{{previa.anioCursado}}</div>
														</td>
														<td>
															<div>{{previa.observacion}}</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" style="cursor: pointer" ng-click="getLibCalificaciones()" bs-collapse-toggle>
						<div class="panel-title">
							<span ng-class="_.includes(multiplePanels.activePanels, 2)? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'"></span>Notas
						</div>
					</div>
					<div class="panel-collapse" role="tabpanel" bs-collapse-target>
						<div class="panel-body">
							<div class="container">

								<label class="col-lg-1">Nombre: </label>
								<span class="col-lg-4">{{libCalificaciones.nombre}} {{libCalificaciones.apellido}}</span>

								<label class="col-lg-1">DNI: </label>
								<span class="col-lg-2">{{libCalificaciones.nroDocumento}}</span>

								<div class="row">

									<!-- left column -->
									<div class="col-md-11 box-margin-lib personal-info">
										<div class="form-horizontal margin-lib">
											<div class="form-group">
												<label class="col-lg-1">A&ntilde;o: </label>
												<span class="col-lg-1">{{libCalificaciones.anio}}</span>

												<label class="col-lg-1">Divisi&oacute;n: </label>
												<span class="col-lg-1">{{libCalificaciones.curso}}</span>

									<!-- <label class="col-lg-1">Turno: </label>
									<span class="col-lg-2">{{libCalificaciones.turno}}</span> -->

									<label class="col-lg-2">A&ntilde;o Escolar: </label>
									<span class="col-lg-2">{{libCalificaciones.cicloLectivo}}</span>
								</div>
							</div>
						</div>
					</div>
					<!-- edit form column -->
					<div class="row" style="margin-top: 10px;">
						<div class="col-md-11 box-margin-lib personal-info table-responsive">
							<table class="table table-hover table-striped table-condensed">
								<thead>
									<tr class="info">
										<th>Espacio Curricular</th>
										<th>1° Trim.</th>
										<th>2° Trim.</th>
										<th>3° Trim.</th>
										<th>Calific. Final</th>
										<th>Eval Dic.</th>
										<th>Eval Feb.</th>
										<th>Calif Definitiva</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="nota in libCalificaciones.listaNotas">
										<td>{{nota.materia}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaTrim1}} < 6 }">{{nota.notaTrim1}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaTrim2}} < 6 }">{{nota.notaTrim2}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaTrim3}} < 6 }">{{nota.notaTrim3}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaFinal}} < 6 }">{{nota.notaFinal}}</td>
										<td class="text-center">{{nota.EvalDic}} cuando esten disponibles  </td>
										<td class="text-center">{{nota.EvalFeb}}estos campos hay que agregar</td>
										<td class="text-center">{{nota.EvalDef}} sus nombres al modal</td>
									</tr>
									<tfoot>
										<tr>
											<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
										</tr>

										<tr>
											<td>Inasistencias Justificadas</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.justificadasTrim1}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.justificadasTrim2}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.justificadasTrim3}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
										</tr>

										<tr>
											<td>Inasistencias Injustificadas</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.injustificadasTrim1}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.injustificadasTrim2}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.injustificadasTrim3}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
										</tr>							
									</tfoot>		
								</tbody>
							</table>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>			
</fieldset>
</div>
<div ng-show="examenes">
	<fieldset>
		<h1>{{subtitle}}<small>: Eleg&iacute; un tipo de operaci&oacute;n</small></h1>
		<hr>	
		<div class="col-md-11">	
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th class="col-md-1" data-sortable="true">Materia</th>
						<th class="col-md-1">A&ntilde;o</th>
						<th class="col-md-1">Fecha</th>
						<th class="col-md-2" data-sortable="true">Horario</th>
						<th class="col-md-4">Docentes</th>
						<th class="col-md-1">Inscripto</th>
						<th class="col-md-2">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mesa in listaMesas | orderBy:'fechaHoraInicio'">
						<td>
							{{mesa.materia.nombre}}
						</td>
						<td>
							{{mesa.materia.anio}} {{mesa.materia.division}}
						</td>
						<td>
							{{mesa.fechaHoraInicio | amDateFormat:'DD/MM/YYYY'}}
						</td>
						<td>
							de {{mesa.fechaHoraInicio | amDateFormat:'HH:mm'}} a {{mesa.fechaHoraFin | amDateFormat:'HH:mm'}} 
						</td>
						<td>
							<span ng-repeat="docente in mesa.integrantesTribunal" style="width: 30%">{{docente}}, </span>
						</td>
						<td>
							<span ng-if="mesa.inscripto" data-animation="am-flip-x" class="glyphicon glyphicon-thumbs-up"></span>
							<span ng-if="!mesa.inscripto" data-animation="am-flip-x" class="glyphicon glyphicon-thumbs-down"></span>
						</td>
						<td>
							<button ng-if="!mesa.inscripto" class="btn btn-success btn-xs" bs-tooltip="tooltip.tooltipRegister" ng-click="register(mesa)">
								<span>Inscribirse</span>
							</button>
							<button ng-if="mesa.inscripto" class="btn btn-danger btn-xs" bs-tooltip="tooltip.tooltipUnregister" ng-click="unregister(mesa)">
								<span>Desinscribirse</span>
							</button>
						</td> 
					</tr>
				</tbody>

			</table>
		</div>
	</fieldset>
</div>
<div ng-show="certificados">
	<fieldset>
		<h1>{{subtitle}}<small>: Eleg&iacute; el certificado que desees solicitar</small></h1>
		<hr>
		<div class="container">
			<div class="col-md-8">	
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="col-md-2" data-sortable="true">Certificado</th>
							<th class="col-md-1">Solicitado</th>
							<th class="col-md-1">Solicitar</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="certificado in listaCertificados | orderBy:'fechaHoraInicio'">
							<td>
								{{certificado.nombre}}
							</td>
							<td>
								<span ng-if="certificado.solicitado" data-animation="am-flip-x" bs-tooltip="tooltip.tooltipCertifSolicitado" class="glyphicon glyphicon-thumbs-up"></span>
								<span ng-if="!certificado.solicitado" data-animation="am-flip-x" bs-tooltip="tooltip.tooltipCertifNoSolicitado" class="glyphicon glyphicon-thumbs-down"></span>
							</td>
							<td>
								<button class="btn btn-success btn-xs" bs-tooltip="tooltip.tooltipCertif" ng-click="solicitarCert(certificado)" ng-class="{ 'disabled': certificado.solicitado }">
									<span>Solicitar</span>
								</button>
							</td> 
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</fieldset>
</div>
</div>