.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container-fluid{
  margin-top: 50px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.form-control-inline {
  display: inline;
  width: 20%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .navbar-nav > li:hover,
  .navbar-nav > li:active {
    background-color: #313131;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-left: 4px solid #404040;
  }
  /* triangulos
.triangle-bottom {
     width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #CCC;
    margin: 0% 20%;
}
.triangle-left {
  display: block;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 100px solid #CCC;
    border-bottom: 100px solid transparent;
    margin-left: 50%;
    }*/
  }

  .shadowRed{
    text-shadow: 1px 1px 1px #000, 3px 3px 5px green;
    cursor: pointer;
  }
  .shadowGreen{
    text-shadow: 1px 1px 1px #000, 3px 3px 5px red;
    cursor: pointer;
  }

  .glyphicon {
    text-align:center;
  }

  h1, h2, h3, h4 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
  }
  form .progress {
    line-height: 15px;
  }
  .progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
  }
  .progress div {
    font-size: smaller;
    background: orange;
    width: 0;
  }

  .btn-opacity {
    opacity: 0.45;
    filter: alpha(opacity=45); /* For IE8 and earlier */
  }

  .animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 15%;
    box-shadow: 5px 5px 2px #888888;
  }

  .animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity:0;
  }

  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity:1;
  }

  .navbar-nav > .active > a {
    background-color: #313131;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-left: 4px solid #404040;
  }

  .box-margin {
    background:white;
    border:1px solid #ccc;
    padding:10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 15%;
    
  }

  .box-margin-lib {
    background:white;
    border:1px solid #ccc;
    padding:10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 3%;
    
  }
  /*Radio button*/


  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + label {
    color: #555;
    font-size:13px;
    cursor:pointer;
  }
  input[type="radio"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
  }

  input[type="radio"] + label span {
   background-color:#BBB;
 }

 input[type="radio"]:checked + label span{
   background-color:#555;
 }

 input[type="radio"] + label span,
 input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.3s linear;
  -o-transition:background-color 0.3s linear;
  -moz-transition:background-color 0.3s linear;
  transition:background-color 0.3s linear;
}


.boxShadow {
  background: white;
  border:1px solid #AAA;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 1% 0.2%;
  box-shadow: 5px 5px 2px #888888;
  padding: 1%;
}

.table-sha {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 1% 0.2%;
  box-shadow: 5px 5px 2px #888888;
  padding: 1%;
}

.saludo {
  color: #CCC;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav > .active > a {
  text-decoration: none;
  background-color: #eee;
}

.personal-info >.form-horizontal > .form-group > label {
  text-align: right;
}

.form-horizontal {
  width: 100%;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 21px;
}



.nav > li > a:hover {
 -webkit-transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
}

.loading { 
  border: 1px solid #ddd; 
  padding: 20px; 
  margin: 40px 5px; 
  width: 80px;
  display: inline;
}

.margin-lib > .form-group {
  margin-bottom: 0px;
}

.color-selected {
  background-color: #234145;
}

.desaprobado {
  color: red;
}



.Rotate-90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
   top: 50px;
  width: 20px;

}
