<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 55%; margin: inherint inherint">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{title}}: <small>Realice la accion que desee y presione guardar para concretar los cambios</small></h4>
			</div>
			
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<!-- left column -->
						<div class="col-md-10 box-margin-lib personal-info">
							<div class="form-horizontal margin-lib">
								<div class="form-group">
									<label class="col-lg-4">Nombre y Apellido: </label>
									<span class="col-lg-8">{{copiaLibInasistencias.nombre}} {{copiaLibInasistencias.apellido}}</span>
								</div>
								<div class="form-group">
									<label class="col-lg-4">DNI: </label>
									<span class="col-lg-5">{{copiaLibInasistencias.nroDocumento}}</span>
								</div>
								<div class="form-group">
									<label class="col-lg-4">Cursa actualmente: </label>
									<span class="col-lg-5">{{copiaLibInasistencias.anio}} {{copiaLibInasistencias.curso}}</span>
								</div>
								<div class="form-group">
									<label class="col-lg-4">A&ntilde;o: </label>
									<span class="col-lg-5">{{copiaLibInasistencias.cicloLectivo}}</span>
								</div>
							</div>
						</div>
					</div>
					<!-- edit form column -->
					<div class="row" style="margin-top: 10px;">
						<div class="col-md-11 box-margin-lib personal-info table-responsive">
							<table class="table table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="col-md-3">Fecha</th>
										<th class="col-md-3">Inasistencia a</th>
										<th class="col-md-2">Faltas</th>
										<th class="col-md-1">Justif</th>
										<th class="col-md-1">Total</th>
										<th class="col-md-3">Acciones</th>
									</tr>
								</thead>
								<tbody>{{date}}
									<tr ng-repeat="inasistencia in copiaLibInasistencias.listaInasistencias | orderBy:'fecha'" ng-form="formRow">
										<td>
											<div ng-if="!inasistencia.show">{{inasistencia.fecha | amDateFormat:'DD/MM/YYYY'}}</div>
											<div ng-if="inasistencia.show" ng-class="{ 'has-error': formRow.fecha.$touched && formRow.fecha.$invalid}">
												<input class="form-control" name="fecha" type="date" ng-model="copiaInasistencia.fecha" required/>
											</div>
										</td>
										<td>
											<div ng-if="!inasistencia.show">{{inasistencia.concepto}}</div>
											<div ng-if="inasistencia.show" ng-class="{ 'has-error': formRow.concepto.$touched && formRow.concepto.$invalid }">
												<input class="form-control" name="concepto" type="text" ng-model="copiaInasistencia.concepto" required pattern="[a-zA-Zí ]*" maxlength="18"/>
											</div>
										</td>
										<td>
											<div ng-if="!inasistencia.show">{{inasistencia.cantidad}}</div>
											<div ng-if="inasistencia.show" ng-class="{ 'has-error': formRow.cantidad.$touched && formRow.cantidad.$invalid }">
												<input class="form-control" name="cantidad" type="text" ng-model="copiaInasistencia.cantidad" maxlength="4" required pattern="^\d{1,3}(?:,\s?\d{3})*(?:\.\d*)?$">
											</div>
										</td>
										<td>
											<div ng-if="!inasistencia.show">{{inasistencia.justificada}}</div>
											<div ng-if="inasistencia.show" ng-class="{ 'has-error': formRow.justificada.$touched && formRow.justificada.$invalid }">
												<input class="form-control" name="justificada" type="text" ng-model="copiaInasistencia.justificada" maxlength="1" style="text-transform:uppercase;" required pattern="[ijIJ]">
											</div>
										</td>
										<td>
											<div ng-if="!inasistencia.show">{{totalIn[$index]}}</div>
										</td>
										<td>
											<!-- El editar no edita, crea otro con las ediciones -->
											<!-- Botones de la lista-->
											<button ng-if="!inasistencia.show" class="btn btn-default btn-xs" ng-click="inasistencia.show=true; edit(inasistencia)" bs-tooltip="tooltip.tooltipEdit">
												<span data-animation="am-flip-x" class="glyphicon glyphicon-edit"></span>
											</button>
											<button ng-if="!inasistencia.show" class="btn btn-default btn-xs" bs-tooltip="tooltip.tooltipDelete" ng-click="deleteInasistencia(inasistencia)">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
											<!-- Botones editando inasistencia -->
											<button ng-if="inasistencia.show" class="btn btn-primary btn-sm" bs-tooltip="tooltip.tooltipSaveEdit" ng-click="saveEditInasistencia(copiaLibInasistencias.listaInasistencias.indexOf(inasistencia));   inasistencia.show=false" ng-disabled="formRow.fecha.$invalid || formRow.concepto.$invalid || formRow.cantidad.$invalid || formRow.justificada.$invalid">
												<span class="glyphicon glyphicon-ok"></span>
											</button>
											<button ng-if="inasistencia.show" class="btn btn-default btn-sm" ng-click="inasistencia.show=false" bs-tooltip="tooltip.tooltipCancelEdit"
											><span class="glyphicon glyphicon-remove"></span>
										</button>

									</td> 

								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<form name="form" novalidate ng-submit="addInasistencia()">	
						<div class="panel-heading">
							<div class="form-group  col-sm-3 col-md-3 col-xs-3 col-lg-3" ng-class="{ 'has-error': form.fecha.$touched && form.fecha.$invalid }">
								<input type="date" name="fecha" class="form-control" ng-model="nuevaInasistencia.fecha" value="inasistencia.fecha | amDateFormat:'DD/MM/YYYY'" placeholder="10/10/1010" maxlength="10" required/> <!--pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[/\\/](19|20)\d{2}" -->
								<div ng-messages="form.fecha.$error" ng-if="form.fecha.$touched && form.fecha.$invalid">
									<div ng-message="pattern" class="help-block" style="position: fixed;">Formato invalido</div>
									<div ng-message="required" class="help-block" style="position: fixed;">Complete este campo</div>
								</div>
							</div>
							<div class="form-group  col-sm-2 col-md-2 col-xs-2 col-lg-2" ng-class="{ 'has-error': form.concepto.$touched && form.concepto.$invalid }">
								<input type="text" name="concepto" class="form-control"ng-model="nuevaInasistencia.concepto" placeholder="Ed física" required pattern="[a-zA-Zí ]*" maxlength="18"/>
								<div ng-messages="form.concepto.$error" ng-if="form.concepto.$touched && form.concepto.$invalid">
									<div ng-message="pattern" class="help-block" style="position: fixed;">Formato invalido</div>
									<div ng-message="required" class="help-block" style="position: fixed;">Complete este campo</div>
								</div>
							</div>
							<div class="form-group  col-sm-2 col-md-2 col-xs-2 col-lg-2" ng-class="{ 'has-error': form.cantidad.$touched && form.cantidad.$invalid }">
								<input type="text" class="form-control" name="cantidad" ng-model="nuevaInasistencia.cantidad" placeholder="0.5" maxlength="4" required pattern="^\d{1,3}(?:,\s?\d{3})*(?:\.\d*)?$">
								<div ng-messages="form.cantidad.$error" ng-if="form.cantidad.$touched && form.cantidad.$invalid">
									<div ng-message="pattern" class="help-block" style="position: fixed;">Formato invalido</div>
									<div ng-message="required" class="help-block" style="position: fixed;">Complete este campo</div>
								</div>
							</div>
							<div class="form-group col-sm-2 col-md-2 col-xs-2 col-lg-2" ng-class="{ 'has-error': form.justificada.$touched && form.justificada.$invalid }">
								<!--<div class="checkbox">
								  <label><input type="checkbox" ng-model="nuevaInasistencia.justificada"></label>
								</div>-->
								<input type="text" class="form-control" name="justificada"
								ng-model="nuevaInasistencia.justificada" placeholder="J/I"  maxlength="1" style="text-transform:uppercase;" required pattern="[ijIJ]">
								<div ng-messages="form.justificada.$error" ng-if="form.justificada.$touched && form.justificada.$invalid">
									<div ng-message="pattern" class="help-block" style="position: fixed;">Formato invalido</div>
									<div ng-message="required" class="help-block" style="position: fixed;">Complete este campo</div>
								</div>
							</div>
							<div class="form-group  col-sm-2 col-md-2 col-xs-2 col-lg-2">
								<button class="form-control btn btn-primary" type="submit" ng-disabled="!form.$valid" ng-click="reset()">Agregar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="close(false)">Cerrar</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" autofocus ng-click="close(true)">Guardar</button>
		</div>
	</div>
</div>
</div>


