<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 75%; margin: inherint inherint">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{title}}</h4>
			</div>
			
			<div class="modal-body">
				<div class="container">

					<label class="col-lg-1">Nombre: </label>
					<span class="col-lg-4">{{libCalificaciones.nombre}} {{libCalificaciones.apellido}}</span>

					<label class="col-lg-1">DNI: </label>
					<span class="col-lg-2">{{libCalificaciones.nroDocumento}}</span>

					<div class="row">

						<!-- left column -->
						<div class="col-md-11 box-margin-lib personal-info">
							<div class="form-horizontal margin-lib">
								<div class="form-group">
									<label class="col-lg-1">A&ntilde;o: </label>
									<span class="col-lg-1">{{libCalificaciones.anio}}</span>

									<label class="col-lg-1">Divisi&oacute;n: </label>
									<span class="col-lg-1">{{libCalificaciones.curso}}</span>

									<!-- <label class="col-lg-1">Turno: </label>
									<span class="col-lg-2">{{libCalificaciones.turno}}</span> -->

									<label class="col-lg-2">A&ntilde;o Escolar: </label>
									<span class="col-lg-2">{{libCalificaciones.cicloLectivo}}</span>
								</div>
							</div>
						</div>
					</div>
					<!-- edit form column -->
					<div class="row" style="margin-top: 10px;">
						<div class="col-md-11 box-margin-lib personal-info table-responsive">
							<table class="table table-hover table-striped table-condensed">
								<thead>
									<tr class="info">
										<th>Espacio Curricular</th>
										<th>1° Trim.</th>
										<th>2° Trim.</th>
										<th>3° Trim.</th>
										<th>Calific. Final</th>
										<th>Eval Dic.</th>
										<th>Eval Feb.</th>
										<th>Calif Definitiva</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="nota in libCalificaciones.listaNotas">
										<td>{{nota.materia}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaTrim1}} < 6 }">{{nota.notaTrim1}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaTrim2}} < 6 }">{{nota.notaTrim2}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaTrim3}} < 6 }">{{nota.notaTrim3}}</td>
										<td class="text-center" ng-class="{ 'desaprobado': {{nota.notaFinal}} < 6 }">{{nota.notaFinal}}</td>
										<td class="text-center">{{nota.EvalDic}} cuando esten disponibles  </td>
										<td class="text-center">{{nota.EvalFeb}}estos campos hay que agregar</td>
										<td class="text-center">{{nota.EvalDef}} sus nombres al modal</td>
									</tr>
									<tfoot>
										<tr>
											<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
										</tr>
									<!--	<tr>
											<td>Inasistencias {{libCalificaciones.Inasistencias[0].tipo}}</td>
											<td class="text-center">{{libCalificaciones.Inasistencias[0].PrimerTrim}}</td>
											<td class="text-center">{{libCalificaciones.Inasistencias[0].SegundoTrim}}</td>
											<td class="text-center">{{libCalificaciones.Inasistencias[0].TercerTrim}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
										</tr> -->
										<tr>
											<td>Inasistencias Justificadas</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.justificadasTrim1}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.justificadasTrim2}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.justificadasTrim3}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
										</tr>

										<tr>
											<td>Inasistencias Injustificadas</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.injustificadasTrim1}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.injustificadasTrim2}}</td>
											<td class="text-center">{{libCalificaciones.detalleInasistencias.injustificadasTrim3}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
										</tr>							
									</tfoot>		
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$hide()">Cerrar</button>
			</div>
		</div>
	</div>
</div>


