<div class="col-md-2 hidden-sm hidden-xs">
      <div>
<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix bs-scrollspy-list style="position: relative; text-align: right;">
   <ul class="nav bs-sidenav">
    <li bs-scrollspy data-target="#getting-started">
      <a href="#getting-started">Men&uacute;</a>
    </li>
    <hr style="margin: 2px 0;">
    <li bs-scrollspy data-target="#modals">
      <a href="#modals">Alumnado</a>
    </li>
    <li bs-scrollspy data-target="#nuevoPerfil">
      <a href="#nuevoPerfil">Nuevo Perfil</a>
    </li>
    <li bs-scrollspy data-target="#alerts">
      <a href="#alerts">B&uacute;squeda</a>
    </li>    
     <li bs-scrollspy data-target="#affix" class>
      <a href="#affix">Listado</a>
    </li>
  </ul>
</div>
<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->
</div>
</div>