
<fieldset>
	<legend>Domicilio</legend>
	<div class="alert alert-danger" role="alert">Campos obligatorios</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for=""><a style="color: red">*</a>Calle:</label>
		</div>
		<div class="col-sm-3">
			<input class="form-control" placeholder="Sarobe" type="tel" maxlength="254" required pattern="[a-zA-Z 0-9]*"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for="">N&uacute;mero:</label>
		</div>
		<div class="col-sm-1">
			<input class="form-control" placeholder="123" type="tel" maxlength="6" required pattern="[0-9]*"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for="">Piso:</label>
		</div>
		<div class="col-sm-1">
			<input class="form-control" placeholder="12" type="tel" maxlength="3" required pattern="[0-9]*"/>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for="">Localidad:</label>
		</div>
		<div class="col-sm-3">
			<input class="form-control" placeholder="Parana" type="tel" maxlength="254" required pattern="[a-zA-Z ]*"/>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for="">Departamento:</label>
		</div>
		<div class="col-sm-3">
			<input class="form-control" placeholder="Parana" type="tel" maxlength="254" required pattern="[a-zA-Z ]*"/>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for="">Provincia:</label>
		</div>
		<div class="col-sm-3">
			<input class="form-control" placeholder="Entre Rios" type="tel" maxlength="254" required pattern="[a-zA-Z ]*"/>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for="">C&oacute;digo Postal:</label>
		</div>
		<div class="col-sm-1">
			<input class="form-control" placeholder="3100" type="tel" maxlength="6" required pattern="[0-9]*"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<label for="">Barrio:</label>
		</div>
		<div class="col-sm-3">
			<input class="form-control" placeholder="Barrio" type="tel" maxlength="254" required pattern="[a-zA-Z 0-9]*"/>
		</div>
	</div>
	<div class="alert alert-danger" role="alert">Campos obligatorios</div>
</fieldset>