<div class="col-md-2 hidden-sm hidden-xs">
	<div>
		<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
		<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix style="position: relative; text-align: right;">
			<ul class="nav bs-sidenav">
				<li bs-scrollspy data-target="#getting-started">
					<a href="#getting-started">Men&uacute; Alumnado</a>
				</li>
				<hr style="margin: 2px 0;">
				<li bs-scrollspy data-target="#modals">
					<a href="" ng-click="seleccionar('listado')">Listado</a>
				</li>
				<li bs-scrollspy data-target="#nuevoPerfil">
					<a href="" ng-click="seleccionar('nuevoPerfil')">Nuevo Perfil</a>
				</li>
			</ul>
		</div>
		<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->
	</div>
</div>

<div class="col-md-10">
	<h1>Alumnado</h1>{{postAnswer}} {{nuevoAlumno}}
	<!--
	<button data-ng-click="getAlumnoById(302)" type="button" class="btn btn-lg btn-danger">Custom Modal
		<br />
		<small>getAlumnoById(302)</small>
	</button>
	{{postAnswer}}
	<button type="button" class="btn btn-lg btn-danger" ng-click="setM(modalx)">Modal
		<br />
		<small>(using service)</small>
	</button>
	 <button data-ng-click="showModal()" type="button" class="btn btn-info" data-animation="am-fade-and-slide-top">
		BRN Lookup
	</button>
	<button ng-click="setM(modalxi)" type="button" class="btn btn-info">
		Post
	</button> <br>
	<button ng-click="performValidRequest()" type="button" class="btn btn-info">
		valid request
	</button>
	<button ng-click="performUnauthorizedRequest()" type="button" class="btn btn-info">
		unauthorized resource
	</button>
	<button ng-click="performInvalidRequest()" type="button" class="btn btn-info">
		Make Request without valid token
	</button>
	<br>
	{{response}}
-->
	<hr>
	<div id="listado" ng-show="listado1">
		<fieldset class="navbar">
			<legend>Listado</legend>
			<label for="">Año lectivo:</label> <select
			class="dropdown-toggle form-control-inline" name="" ng-model="dropDownValue"> <!-- ng-change="update(dropDownValue, option)"> -->
			<option value="" disabled selected>Seleccione una opci&oacute;n</option>
			<option value="">Todos</option>
			<option ng-repeat="option in dropDownOptions" value="{{option}}">{{option}}</option>
		</select>{{dropDownValue}}
		<input type="text" class="form-control-inline" ng-show="dropDownValue === 'DNI/MAT'">
		<button ng-click="search()">Buscar</button>
		<div id="listFilters" ng-show="listFilterIsEnabled">
			<h2>Filtros de búsqueda</h2>
			<label for="">Nombre:</label>
			<input class="form-control-inline" type="text" maxlength="255" required pattern="[a-zA-Z 0-9]*" ng-model="filterByName">{{filterByName}} 

			<label for="">Curso:</label>
			<select class="dropdown-toggle form-control-inline" name="" ng-model="dropDownCursoValue">
				<option value="" disabled selected>Seleccione un curso</option>
				<option ng-repeat="cursoOption in dropDownCursoOptions" value="{{cursoOption}}">{{cursoOption}}</option>
			</select> 

			<label for="">División:</label> <select
			class="dropdown-toggle form-control-inline" name="" ng-model="dropDownDivisionValue">
			<option value="" disabled selected>Seleccione una divisi&oacute;n</option>
			<option ng-repeat="divisionOption in dropDownDivisionOptions" value="{{divisionOption}}">{{divisionOption}}</option>
		</select>
	</div>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Nro</th>
				<th>Apellido</th>
				<th>Nombre</th>
				<th>DNI</th>
				<th>Id</th>
				<th>Acciones</th>						
			</tr>
		</thead>
		<tr ng-repeat="alumno in alumnoData | filter:alumnoFilter">
			<td>{{alumno.matricula}}</td>
			<td>{{alumno.nombre}}</td>
			<td>{{alumno.apellido}}</td>
			<td>{{alumno.nroDocumento}}</td>
			<td ng-click = "deleteAlumno(alumno.idUsuario)">{{alumno.idUsuario}}</td>
			<td><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipProfile" style="width:25%; cursor: pointer" class="glyphicon glyphicon-user" ></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipAttendance" style="width:25%; cursor: pointer" class="glyphicon glyphicon-calendar"></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipReportCard" style="width:25%; cursor: pointer" class="glyphicon glyphicon-list-alt"></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipAcademicPerformance" style="width:25%; cursor: pointer" class="glyphicon glyphicon-education"></span></td> 
					<!--<td>{{alumno.name}}</td>
					<td>{{alumno.phone}}</td>
					<td>{{$index}}</td> -->
				</tr>
			</table>
		</fieldset>
	</div>

	<div id="nuevoPerfil" ng-show="!listado1">
		<fieldset>
			<legend>Nuevo Alumno</legend>
			<h3 class="small">Ingrese los datos para crear un nuevo perfil
				de alumno y haga clic en guardar cuando finalice</h3>
			<!--<div class="cargar_imagen">
				<img src="images/defaultUser.png" alt="Usuario" width="190px" height="auto"/>
				<span class="btn btn-primary btn-file">Examinar<input type="file"></span>
			</div>-->

			<form class="form-horizontal media">
				<!--<div class="pull-right">
						<img class="img-rounded" src="images/defaultUser.png" alt="Usuario" width="220px" height="auto"/>
					<div class="btn btn-primary btn-file" id="boton">Examinar<input type="file"></div>
				</div>	-->
				
				<div class="formulario media-body">

					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Documento:</label>
						</div>
						<div class="col-sm-3">
							<input class="form-control" ng-model="nuevoAlumno.nroDocumento" placeholder="12332112" type="text"
							maxlength="10" required pattern="\d{8}">
						</div>
						<!-- Valida 8 digitos -->
						<div class="col-sm-1 control-label">
							<label for="">Tipo:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" ng-model="nuevoAlumno.tipoDocumento" name="Tipo documento">
								<option value="DU/DNI">DU/DNI</option>
								<option value="LC">LC</option>
								<option value="Otro">Otro</option>
							</select>
						</div>
					</div>
					<!-- /form-group-->


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Nombres:</label>
						</div>
						<div class="col-sm-5">
							<input class="form-control" ng-model="nuevoAlumno.nombre" placeholder="Nombre Nombre"
							type="text" maxlength="255" required pattern="[a-zA-Z ]*">
							<!-- Valida letras y espacios -->
						</div>
						
					</div>
					<!-- /form-group-->
					

					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Apellidos:</label>
						</div>
						<div class="col-sm-5">
							<input class="form-control" ng-model="nuevoAlumno.apellido" placeholder="Apellido Apellido"
							type="text" maxlength="255" required pattern="[a-zA-Z ]*">
							<!-- Valida letras y espacios-->
						</div>
					</div>



					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Sexo:</label>
						</div>
						<div class="col-sm-5">
							<input type="radio" name="sexo" ng-model="nuevoAlumno.sexo" value="f" id="Fem"><label class="text-radio" for="Fem"><span></span>Femenino </label>
							<input type="radio" name="sexo" ng-model="nuevoAlumno.sexo" value="m"checked id="Masc"><label class="text-radio" for="Masc"><span></span>Masculino </label>
						</div>
					</div>
					<!-- /form-group-->


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Domicilio </label>
							<label for="">Calle:</label>
						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="Calle"
							type="text" maxlength="255" required pattern="[a-zA-Z 0-9]*" />
							<!-- Valida letras, numeros y espacios-->
						</div>
					</div>

					<div class="form-group">						
						<div class="col-sm-2 control-label">
							<label for="">N&uacute;mero:</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="123"
							type="text" maxlength="255" required pattern="[0-9]*" />
							<!-- Valida letras, numeros y espacios-->
						</div>
						<div class="col-sm-1 control-label">
							<input type="button" value="Avanzado">
						</div>
					</div>
					<!-- /form-group-->



					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Fecha de nac.:</label>
						</div>
						<div class="col-sm-5">
							<input class="form-control" ng-model="nuevoAlumno.fechaNacimiento" placeholder="10/10/1010" type="date"
							step="1" value="01-01-2000" />
						</div>
					</div>
					<!-- /form-group

					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Año curso:</label>
						</div>
						<div class="col-sm-3">
							<select class="form-control" name="Año">
								<option value="">elemento 1</option>
								<option value="">elemento 2</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Nombre curso:</label>
						</div>
						<div class="col-sm-3">
							<select class="form-control" name="Curso">
								<option value="">elemento 3</option>
								<option value="">elemento 4</option>
							</select>
						</div>
					</div>
					form-group-->


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Teléfono fijo:</label>
						</div>

						<div class="col-sm-5">
							<input class="form-control" ng-model="nuevoAlumno.listaTelefono[0]" placeholder="0343-4353535" type="tel" />
						</div>
					</div>
					<!-- /form-group-->


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Celular:</label>
						</div>

						<div class="col-sm-5">
							<input class="form-control" ng-model="nuevoAlumno.listaTelefono[1]" placeholder="0343-155555555"
							type="tel" />
						</div>
					</div>
					<!-- /form-group-->


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Mail:</label>
						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="nombre@nombre.com"
							type="email" maxlength="255">
						</div>
					</div>
					<!-- /form-group-->


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label for="">Observaciones:</label>
						</div>
						<div class="col-sm-5">
							<textarea class="form-control" rows="3" placeholder="El modelo de alumno no tiene lugar para observaciones..."></textarea>
							<!--<input class="form-control"
							type="text" maxlength="255" required pattern="[a-zA-Z ]*">-->
							<!-- Valida letras y espacios-->
						</div>
					</div>
					<!-- /form-group-->
					<div class="form-group">
						<div class="col-sm-1">
						</div>
						<div class="col-sm-2">
							<button class="btn btn-default" ngf-select ng-model="picFile" accept="image/*" ngf-max-size="2MB" ngf-min-height="100" style="margin: 5px auto">Seleccione imagen de perfil</button>

							<div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea"><!--{{picFile}}-->
								<img-crop image="picFile  | ngfDataUrl"                 
								result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
							</img-crop>
						</div>
						
							<!--<div>
								<img ng-src="{{croppedDataUrl}}">
							</div>-->
							<!--<button ng-click="upload(croppedDataUrl)">Submit</button> -->
							<span class="progress" ng-show="progress >= 0">
								<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
							</span>
							<span ng-show="result">Carga completa</span>
							<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
						</div>
					</div>

				</div><!-- /formulario-->
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3">
						<input class="btn btn-danger" type="button" name=""
						onclick="cargarAlumnoPrincipal()" value="Cancelar" />
					</div>
					<div class="col-sm-1">
						<input class="btn btn-primary" ng-click="upload(croppedDataUrl)" type="submit" name=""
						value="Guardar" />
					</div>
				</div>
				
			</form>
		</fieldset>

	</div>
