<div class="col-md-2 hidden-sm hidden-xs">
      <div>
<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix bs-scrollspy-list style="position: relative; text-align: right;">
   <ul class="nav bs-sidenav">
    <li bs-scrollspy data-target="#getting-started">
      <a href="#getting-started">Men&uacute;</a>
    </li>
    <hr style="margin: 2px 0;">
    <li bs-scrollspy data-target="#modals">
      <a href="#modals">Alumnado</a>
    </li>
    <li bs-scrollspy data-target="#nuevoPerfil">
      <a href="#nuevoPerfil">Nuevo Perfil</a>
    </li>
    <li bs-scrollspy data-target="#alerts">
      <a href="#alerts">B&uacute;squeda</a>
    </li>    
     <li bs-scrollspy data-target="#affix" class>
      <a href="#affix">Listado</a>
    </li>
  </ul>
</div>
<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->
</div>
</div>

<div class="col-md-10">

	<div id="nuevoPerfil">
		<fieldset>
			<h1>Nuevo Alumno</h1>
			<hr>
			<h2 class="small">Ingrese los datos para crear un nuevo perfil
				de alumno y haga clic en guardar cuando finalice</h2>
			<div class="cargar_imagen">
				<img src="images/defaultUser.png" alt="Usuario" width="190px" height="auto"/>
				<span class="btn btn-primary btn-file">Examinar<input type="file"></span>
			</div>

			<div class="form_center">
				<div class="formulario">
					<label for="">Documento:</label> <input class="form-control"
						type="text" maxlength="10" required pattern="\d{8}">
					<!-- Valida 8 digitos -->
					<select class="form-control" name="Tipo documento">
						<option value="">DNI</option>
						<option value="">LC</option>
						<option value="">Otro</option>
					</select>
				

				
					<label for="">Nombres:</label> <input class="form-control"
						type="text" maxlength="255" required pattern="[a-zA-Z ]*">
					<!-- Valida letras y espacios -->
				

				
					<label for="">Apellidos:</label><input class="form-control"
						type="text" maxlength="255" required pattern="[a-zA-Z ]*">
					<!-- Valida letras y espacios-->
				


					<div class="formulario">
					<label for="">Sexo:</label> <input type="radio" name="sexo"
						value="Femenino"> Femenino <input type="radio" name="sexo"
						value="Masculino" checked> Masculino
					</div>

				
					<label for="">Domicilio:</label><input class="form-control"
						type="text" maxlength="255" required pattern="[a-zA-Z 0-9]*" />
					<!-- Valida letras, numeros y espacios-->
				

				
					<label for="">Fecha de nac:</label> <input class="form-control"
						type="date" step="1" value="01-01-2000" />
				

				
					<label for="">Año curso:</label> <select class="form-control"
						name="Año">
						<option value="">elemento 1</option>
						<option value="">elemento 2</option>
					</select>
				

				
					<label for="">Nombre curso:</label><select class="form-control"
						name="Curso">
						<option value="">elemento 3</option>
						<option value="">elemento 4</option>
					</select>
				
				
				
					<label for="">Teléfono fijo:</label><input class="form-control"
						type="tel"/>
				
				
				
					<label for="">Celular:</label><input class="form-control"
						type="tel"/>
				
				
				
					<label for="">Mail:</label><input class="form-control"
						type="email" maxlength="255">
				
				
				
					<label for="">Observaciones:</label><input class="form-control"
						type="text" maxlength="255" required pattern="[a-zA-Z ]*">
					<!-- Valida letras y espacios-->
				



			</div>

			<div class="botones_form">
				<input class="btn btn-danger" type="button" name=""
					onclick="cargarAlumnoPrincipal()" value="Cancelar" /> <input
					class="btn btn-primary" type="submit" name="" value="Guardar" />
			</div>

		</fieldset>
	</div>
</div>