<div class="col-md-2 hidden-sm hidden-xs">
	<div>
		<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
		<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix style="position: relative; text-align: right;">
			<ul class="nav bs-sidenav">
				<li bs-scrollspy data-target="#getting-started">
					<a href="#getting-started">Men&uacute; Docente</a>
				</li>
				<hr style="margin: 2px 0;">
				<li ng-class="{active : activeMenuIzqDoc === 1}" data-target="#listado">
					<a href="" ng-click="seleccionar('listado'); setActiveDoc(1)">Listado</a>
				</li>
				<li ng-class="{active : activeMenuIzqDoc === 2}" data-target="#nuevoPerfil">
					<a href="" ng-click="seleccionar('nuevoPerfil'); setActiveDoc(2)">Nuevo Perfil</a>
				</li>
			</ul>
		</div>
		<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->
	</div>
</div>

<div class="col-md-10">
	<!-- <h1>Docente</h1>
	<hr> -->
	<div id="listado" ng-show="listado">  <!--lista centrada -->
		<fieldset class="navbar">
			<h1>Listado</h1>
			<hr>
			<!-- <label for="">Filtros:</label> <select
			class="dropdown-toggle form-control-inline" name="" ng-model="filterByArea.area"> 
			<option value="" disabled selected>Seleccione un &Aacute;rea</option>
			<option value="">Todos</option>
			<option ng-repeat="area in dropDownAreas"  value="{{area}}">{{area}}</option>
		</select> -->
		
		<div class="panel panel-default">
  <div class="panel-heading">
		<label>Buscar por Nombre, Apellido, DNI o materia: </label>
		<input class="form-control-inline" type="text" placeholder="Buscar" maxlength="255" required pattern="[a-zA-Z 0-9]*" ng-model="filterByName">
</div>
</div>

		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Nro</th>
					<!-- <th>&Aacute;rea</th> -->
					<th>Materia</th>
					<th>Apellido</th>
					<th>Nombre</th>
					<th>CUIL</th>
					<th>Acciones</th>						
				</tr>
			</thead>
			<tr ng-repeat="docente in docentes | filter:filterByArea | filter:docenteFilter">
				<td>{{docente.nro}}</td>
				<!-- <td>{{docente.area}}</td> -->
				<td>{{docente.materia}}</td>
				<td>{{docente.apellido}}</td>
				<td>{{docente.nombre}}</td>
				<td>{{docente.cuil}}</td>
				<!-- <td><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipProfile" style="width:33%; cursor: pointer" class="glyphicon glyphicon-user" ng-click="asignar(docente)"></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipEdit" style="width:33%; cursor: pointer" class="glyphicon glyphicon-edit" ng-click="asignar(docente)"></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipDelete" style="width:33%; cursor: pointer" class="glyphicon glyphicon-remove"></span></td> --> 
				<td><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipProfile" style="width:40%; cursor: pointer" class="glyphicon glyphicon-user" ng-click="asignar(docente)"></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipDelete" style="width:40%; cursor: pointer" class="glyphicon glyphicon-remove"></span></td> 

					<!--<td>{{alumno.name}}</td>
					<td>{{alumno.phone}}</td>
					<td>{{$index}}</td> -->
				</tr>
			</table>
		</fieldset>
		{{modalx.docente}}
	</div>

	<div id="nuevoPerfil" ng-show="nuevoPerfil">
		<fieldset>
			<h1>{{subtitle}}: <small>Ingrese los datos para crear un nuevo perfil
				de docente y haga clic en guardar cuando finalice</small></h1>
				<hr>
				<!-- http://www.bootply.com/sY7gQy6XF7 Aca nuevo perfil-->
				<form class="form-horizontal media">
				<!--<div class="pull-right"> 
						<img class="img-rounded" src="images/defaultUser.png" alt="Usuario" width="220px" height="auto"/>
					<div class="btn btn-primary btn-file" id="boton">Examinar<input type="file"></div>
				</div>	-->
				
				<div class="formulario media-body">
					<!-- <div class="container"> -->
						<div class="row">
							<div class="col-md-6 personal-info">
								<div class="alert alert-danger" role="alert">* Campos obligatorios</div>
								<form class="form-horizontal media">

									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for=""><a style="color: red">*</a>Documento:</label>
										</div>
										<div class="col-sm-4">
											<input class="form-control" ng-model="docenteEdit.nroDocumento" placeholder="12332112" type="text"
											maxlength="10" required pattern="\d{8}">
										</div>
										<!-- Valida 8 digitos -->
										<!-- <div class="col-sm-1 control-label">
											<label for="">Tipo:</label>
										</div> -->
										<div class="col-sm-3">
											<select class="form-control" ng-model="docenteEdit.tipoDocumento" name="Tipo documento">
												<option value="" disabled selected>Tipo</option>
												<option value="">DNI</option>
												<option value="">LC</option>
												<option value="">Otro</option>
											</select>
										</div>
									</div>
									<!-- /form-group-->
									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for=""><a style="color: red">*</a>Nombres:</label>
										</div>
										<div class="col-sm-5">
											<input class="form-control" ng-model="docenteEdit.nombre" placeholder="Nombre"
											type="text" maxlength="255" required pattern="[a-zA-Z ]*">
											<!-- Valida letras y espacios -->
										</div>
									</div>

									<!-- /form-group-->


									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for=""><a style="color: red">*</a>Apellidos:</label>
										</div>
										<div class="col-sm-5">
											<input class="form-control" placeholder="Apellido"
											type="text" maxlength="255" ng-model="docenteEdit.apellido" required pattern="[a-zA-Z ]*">
											<!-- Valida letras y espacios-->
										</div>
									</div>



									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for="">Sexo:</label>
										</div>
										<div class="col-sm-7" ng-model="docenteEdit.sexo">
											<input type="radio" name="sexo" value="Femenino" id="F"><label class="text-radio" for="F"><span></span>Femenino </label>
											<input type="radio" name="sexo" value="Masculino"checked id="M"><label class="text-radio" for="M"><span></span>Masculino </label>
										</div>
									</div>
									<!-- /form-group-->


									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for=""><a style="color: red">*</a>Domicilio:</label>
										</div>
										<div class="col-sm-6">
											<input class="form-control" placeholder="Domicilio 123"
											type="text" maxlength="255" ng-model="docenteEdit.domicilio.calle" required pattern="[a-zA-Z 0-9]*"/>
											<!-- Valida letras, numeros y espacios-->
										</div>
									</div>
									<!-- /form-group-->



									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for=""><a style="color: red">*</a>Fecha de nac.:</label>
										</div>
										<div class="col-sm-6">
											<input class="form-control" placeholder="10/10/1010" type="date"
											step="1" ng-model="docenteEdit.fechaNacimiento" value="01-01-2000" />
										</div>
									</div>
									<!-- /form-group-->


									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for=""><a style="color: red">*</a>CUIT/CUIL:</label>
										</div>
										<div class="col-sm-5">
											<input class="form-control" placeholder="12332112" type="text"
											maxlength="15" ng-model="docenteEdit.cuil" required pattern="d{2}\-\d{8}\-\d{1}">
										</div>
									</div>
									<!-- Valida 8 digitos -->

									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for="">Teléfono fijo:</label>
										</div>

										<div class="col-sm-5">
											<input class="form-control" placeholder="0343-4353535" type="tel" />
										</div>
									</div>
									<!-- /form-group-->


									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for="">Celular:</label>
										</div>

										<div class="col-sm-5">
											<input class="form-control" placeholder="0343-155555555"
											type="tel" />
										</div>
									</div>
									<!-- /form-group-->


									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for=""><a style="color: red">*</a>Mail:</label>
										</div>
										<div class="col-sm-6">
											<input class="form-control" placeholder="nombre@nombre.com"
											type="email" maxlength="255">
										</div>
									</div>
									<!-- /form-group-->

									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for="">T&iacute;tulo/s:</label>
										</div>
										<div class="col-sm-5">
											<input class="btn btn-default" type="button" onclick="alert('acá va el modal')" name=""
											value="Agregar" />
										</div>
									</div>


									<div class="form-group">
										<div class="col-sm-4 control-label">
											<label for="">Observaciones:</label>
										</div>
										<div class="col-sm-7">
											<textarea class="form-control" rows="4"></textarea>
										</div>
									</div>
									<div class="alert alert-danger" role="alert">* Campos obligatorios</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
											<button class="btn btn-default" ngf-select ng-model="picFile" accept="image/*" ngf-max-size="2MB" ngf-min-height="100" style="margin: 5px auto">Seleccione imagen de perfil</button>

											<div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea"><!--{{picFile}}-->
												<img-crop image="picFile  | ngfDataUrl"                 
												result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
												</img-crop>
												<!--<div>
													<img ng-src="{{croppedDataUrl}}">
												</div>-->
												<!--<button ng-click="upload(croppedDataUrl)">Submit</button> -->
												<span class="progress" ng-show="progress >= 0">
													<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
												</span>
												<span ng-show="result">Carga completa</span>
												<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
											</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div><!-- /formulario-->
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<input class="btn btn-danger" type="button" name=""
							onclick="cargarAlumnoPrincipal()" value="Cancelar" />
						</div>
						<div class="col-sm-2">
							<input class="btn btn-primary" ng-click="upload(croppedDataUrl)" type="submit" name=""
							value="Guardar" />
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>