<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Trabajar online 
 Trabajar offline  
<!DOCTYPE hibernate-configuration SYSTEM "classpath://org/hibernate/hibernate-configuration-3.0.dtd" > -->
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">TallerDB</property>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.1.7:3306/test</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.search.autoregister_listeners">false</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <!-- Configuración POOL c3p0 -->
  <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
  <property name="hibernate.c3p0.acquire_increment">5</property>
  <property name="hibernate.c3p0.idle_test_period">100</property>
  <property name="hibernate.c3p0.max_size">70</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.min_size">10</property>
  <property name="hibernate.c3p0.timeout">180</property>
  <property name="hibernate.generate_statistics">false</property>
  <mapping class="ar.com.santalucia.dominio.modelo.usuarios.Usuario" resource="ar/com/santalucia/dominio/modelo/usuarios/Usuario.hbm.xml"/>
  <mapping class="ar.com.santalucia.dominio.modelo.usuarios.Alumno" resource="ar/com/santalucia/dominio/modelo/usuarios/Alumno.hbm.xml"/>
  <mapping class="ar.com.santalucia.dominio.modelo.usuarios.Docente" resource="ar/com/santalucia/dominio/modelo/usuarios/Docente.hbm.xml"/>
  <mapping class="ar.com.santalucia.dominio.modelo.usuarios.Directivo" resource="ar/com/santalucia/dominio/modelo/usuarios/Directivo.hbm.xml"/>
  <mapping
   class="ar.com.santalucia.dominio.modelo.usuarios.Administrador" resource="ar/com/santalucia/dominio/modelo/usuarios/Administrador.hbm.xml"/>
  <mapping class="ar.com.santalucia.dominio.modelo.usuarios.info.Mail" resource="ar/com/santalucia/dominio/modelo/usuarios/info/Mail.hbm.xml"/>
  <mapping class="ar.com.santalucia.dominio.modelo.usuarios.info.Titulo" resource="ar/com/santalucia/dominio/modelo/usuarios/info/Titulo.hbm.xml"/>
  <mapping
   class="ar.com.santalucia.dominio.modelo.usuarios.info.Telefono" resource="ar/com/santalucia/dominio/modelo/usuarios/info/Telefono.hbm.xml"/>
  <mapping
   class="ar.com.santalucia.dominio.modelo.usuarios.info.Domicilio" resource="ar/com/santalucia/dominio/modelo/usuarios/info/Domicilio.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
