<div class="header">
  <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" style="overflow-y: visible;" id="js-navbar-collapse">           
        <ul class="nav navbar-nav" ng-repeat="item in menuAdmin">
          <li ng-class="{active : activeMenu === item}">
            <!-- se usa ui-sref en vez de ng-href para navegar entre los estados -->
            <a ui-sref="{{item[0]}}" ng-click="setActive(item)">{{item[1]}}</a>
          </li>
        </ul>            
        <ul class="navbar-nav saludo pull-right">
          <!-- <span bs-tooltip="tooltip.tooltipProfile" class="glyphicon glyphicon-user" ></span>-->
          <span class="saludo">{{credentials.userRole}} {{credentials.userName}}</span>
          
          <a ng-href="{{manual}}" style="text-decoration:none;" target="_blank">
            <span title="{{popoverHelp.title}}" bs-tooltip="tooltip.tooltipProfile" class="glyphicon glyphicon-question-sign" style="margin-right: 5px; font-size: 24px; vertical-align: middle; cursor: pointer;"></span>
          </a>
          
          <button type="button" class="btn btn-danger" title="{{popover.title}}" data-content="{{popover.content}}" data-animation="am-flip-x" data-auto-close="1" data-template-url="scripts/views/logout.tpl.html" data-placement="bottom" bs-popover><span data-type="info" data-placement="bottom" bs-tooltip="tooltip.tooltipLogout" class="glyphicon glyphicon-off" data-animation="am-fade-and-scale"></span>
          </button>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div ui-view></div>
</div>