<div class="navbar-inverse bs-docs-nav" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-template-url="./scripts/directivo/anio/aside/aniosidebar.aside.tpl.html" data-animation="am-fade-and-slide-left" data-placement="left" title="Menu" bs-aside="aside">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</div>

<div class="col-md-2 hidden-sm hidden-xs">
	<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
	<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix style="position: relative; text-align: right;">
		<ul class="nav bs-sidenav">
			<li bs-scrollspy data-target="#getting-started">
				<a href="">Men&uacute; A&ntilde;o</a>
			</li>
			<hr style="margin: 2px 0;">
			<li ng-class="{active : activeMenuIzqAnio === 1}" data-target="#listadoAnio">
				<a href="" ng-click="seleccionar('listadoAnio')">Listado</a>
			</li>				
			<li ng-class="{active : activeMenuIzqAnio === 2}" data-target="#nuevoAnio">
				<a href="" ng-click="seleccionar('nuevoAnio')">Nuevo A&ntilde;o</a>
			</li>
			<li ng-class="{active : activeMenuIzqAnio === 3}" data-target="#nuevoCurso">
				<a href="" ng-click="seleccionar('nuevoCurso')">Nuevo Curso</a>
			</li>			
			<li ng-class="{active : activeMenuIzqAnio === 4}" data-target="#administrar">
				<a href="" ng-click="seleccionar('administrarAnio')">Administrar</a>
			</li>
			<li ng-class="{active : activeMenuIzqAnio === 5}" ng-show="showEditAnioMenuIzq" data-target="#editanio">
				<a href="">Editar A&ntilde;o</a>
			</li>
		</ul>
	</div>
	<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->
</div>

<div>
	<div id="listadoAnio" ng-show="listadoAnio">
		<spinner name="searchAniosSpinner" ng-cloak="">
			<div class="overlay"></div>
			<div class="spinner-small">			            
				<div>
					<div class="ng-include: './views/templates/defaultspinner.html'"></div>
				</div>
			</div>
			<div class="please-wait-small">Aguarde por favor...</div>
		</spinner>
		<fieldset>
			<h1>{{subtitle}}<small></small></h1>
			<hr>
			<div class="col-md-8">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th ng-click="orderAnio('nombre')" role="button">A&ntilde;o 
								<span class="sortorder" ng-show="predicate === 'nombre'" ng-class="{reverse:reverse}"></span>
							</th>
							<!-- <th ng-click="orderAnio('division')" role="button">Divisi&oacute;n 
								<span class="sortorder" ng-show="predicate === 'division'" ng-class="{reverse:reverse}"></span>
							</th>
							<th ng-click="orderAnio('turno')" role="button">Turno 
								<span class="sortorder" ng-show="predicate === 'turno'" ng-class="{reverse:reverse}"></span>
							</th>
							<th ng-click="orderAnio('cantidadDeAlumnos')" role="button">N° de alumnos
								<span class="sortorder" ng-show="predicate === 'cantidadDeAlumnos'" ng-class="{reverse:reverse}"></span>
							</th> -->
							<th>Descripci&oacute;n</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>	
						<tr ng-repeat-start="anio in anios | orderBy:predicate:reverse">
							<td data-toggle="collapse" data-target="#{{anio.idAnio}}" class="accordion-toggle" ng-click="downGlyphiconIna = !downGlyphiconIna">
								<span ng-class="{ 'glyphicon glyphicon-chevron-down': !downGlyphiconIna,'glyphicon glyphicon-chevron-up': downGlyphiconIna }" style="cursor: pointer;"></span>
							</td>
							<td data-toggle="collapse" data-target="#{{anio.idAnio}}" class="accordion-toggle" ng-click="downGlyphiconIna = !downGlyphiconIna" style="cursor: pointer;">{{anio.nombre}}</td>
							<td data-toggle="collapse" data-target="#{{anio.idAnio}}" class="accordion-toggle" ng-click="downGlyphiconIna = !downGlyphiconIna" style="cursor: pointer;">{{anio.descripcion}}</td>
							<td>
								<button class="btn btn-default btn-xs" bs-tooltip="tooltip.tooltipEdit" ng-click="editAnio(anio)" style="width: 40%">
									<span data-animation="am-flip-x" class="glyphicon glyphicon-edit"></span>
								</button>

								<button class="btn btn-default btn-xs"  bs-tooltip="tooltip.tooltipDelete" ng-click="" style="width: 40%">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td> 
						</tr>
						<tr ng-repeat-end="">
							<td colspan="4" class="hiddenRow">
								<div class="col-md-7 accordian-body collapse" id="{{anio.idAnio}}"> 
									<table class="table">
										<thead>
											<th>Division</th>
											<th>Turno</th>
											<th>Cantidad de alumnos</th>
										</thead>
										<tbody>
											<tr ng-repeat="curso in anio.listaCursos">
												<td>{{curso.division}}</td>
												<td>{{curso.turno}}</td>
												<td>{{curso.cantAlu}}</td>
											</tr>
										</tbody>
									</table>
								</div> 
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>	

	<div id="nuevoAnio" ng-show="nuevoAnio">
		<fieldset>
			<h1>{{subtitle}}<small>: Ingrese los datos para dar de alta un nuevo a&ntilde;o y haga clic en guardar cuando finalice</small></h1>
			<hr>
			<form class="form-horizontal media" name="formAnio">
				<div class="formulario media-body">
					<div class="col-md-8 personal-info">

						<div class="alert alert-warning alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<span class="glyphicon glyphicon-asterisk small"></span>Campos obligatorios
						</div>

						<div class="form-group" ng-class="{ 'has-error': formAnio.nombre.$touched && formAnio.nombre.$invalid }">
							<div class="col-md-4 control-label">
								<span class="glyphicon glyphicon-asterisk alert-warning small"></span><label> Nombre:</label>
							</div>
							<div class="col-md-5">
								<input class="form-control" placeholder="Nombre" name="nombre" type="text"
								maxlength="25" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ 0-9°]*" ng-model="nuevoAnioObj.nombre">
							</div>
							<div ng-messages="formAnio.nombre.$error" ng-if="formAnio.nombre.$touched && formAnio.nombre.$invalid">
								<div ng-message="pattern" class="help-block">Formato invalido</div>
								<div ng-message="required" class="help-block">Complete este campo</div>
							</div>
						</div><!-- /form-group-->


						<div class="form-group" ng-class="{ 'has-error': formAnio.descripcion.$touched && formAnio.descripcion.$invalid }">
							<div class="col-md-4 control-label">
								<label for="">Descripci&oacute;n:</label>
							</div>
							<div class="col-md-5">
								<input class="form-control" placeholder="Descripción" name="descripcion" type="text"
								maxlength="255" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ 0-9°]*" ng-model="nuevoAnioObj.descripcion">
							</div>
							<div ng-messages="formAnio.descripcion.$error" ng-if="formAnio.descripcion.$touched && formAnio.descripcion.$invalid">
								<div ng-message="pattern" class="help-block">Formato invalido</div>
								<div ng-message="required" class="help-block">Complete este campo</div>
							</div>
						</div><!-- /form-group-->

						<!-- <div class="form-group">
							<div class="col-md-2 col-md-offset-4">
								<input class="btn btn-danger" type="button" ng-click="clearFormAnio()" value="Limpiar"/>
							</div>
							<div class="col-md-3 col-md-offset-1">
								<input class="btn btn-primary" type="button" ng-click="newAnio(nuevoAnioObj)" value="Guardar" ng-disabled="!formAnio.$valid"/>
							</div>
						</div> -->						
					</div>
				</div>
			</form>
		</fieldset>
	</div>

	<div id="nuevoCurso" ng-show="nuevoCurso">
		<fieldset>
			<h1>{{subtitle}}<small>: Ingrese los datos para dar de alta un nuevo curso y haga clic en guardar cuando finalice</small></h1>
			<hr>
			<div class="form-horizontal media">
				<div class="formulario media-body">
					<div class="col-md-8 personal-info">

						<div class="alert alert-warning alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<span class="glyphicon glyphicon-asterisk small"></span>Campos obligatorios
						</div>

						<div class="form-group" ng-class="{ 'has-error': formCurso.nombreAnio.$touched && formCurso.nombreAnio.$invalid }">
							<div class="col-md-4 control-label">
								<span class="glyphicon glyphicon-asterisk alert-warning small"></span><label> A&ntilde;o:</label>
							</div>
							<div class="col-md-5">
								<select class="form-control" ng-model="nuevoCursoObj" ng-options="anio.nombre for anio in anios" name="nombreAnio" required>
									<option value="" disabled selected>Seleccione un a&ntilde;o</option>
									<!-- <option ng-repeat="anio in anios" value="anio">{{anio.nombre}}</option>  los anios se cargaron al entrar a la página -->
								</select>
							</div>
							<div ng-messages="formCurso.nombreAnio.$error" ng-if="formCurso.nombreAnio.$touched && formCurso.nombreAnio.$invalid">
								<div ng-message="required" class="help-block">Seleccione una opci&oacute;n</div>
							</div>
						</div>

						<div ng-show="nuevoCursoObj" class="col-md-7 col-md-offset-3" style="padding-bottom: 30px">
							<div class="container">
								<div class="row">
									<div class="box-margin-lib personal-info table-responsive">
										<table class="table table-hover table-striped table-condensed">
											<thead>
												<tr>
													<th class="col-md-1">Divisi&oacute;n</th>
													<th class="col-md-1">Turno</th>
													<th class="col-md-1">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="curso in nuevoCursoObj.listaCursos" ng-form="formRow">
													<td>
														<div ng-if="!curso.show">{{curso.division}}</div>
														<div ng-if="curso.show" ng-class="{ 'has-error': formRow.division.$touched && formRow.division.$invalid }">
															<input class="form-control" name="division" type="text" ng-model="copiaCurso.division" maxlength="185" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ 0-9]*"/>
														</div>
													</td>
													<td>
														<div ng-if="!curso.show">{{curso.turno}}</div>
														<div ng-if="curso.show" ng-class="{ 'has-error': formRow.turno.$touched && formRow.turno.$invalid }">
															<input class="form-control" name="turno" type="text" ng-model="copiaCurso.turno" maxlength="185" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ 0-9]*"/>
														</div>
													</td>
													<td>
														<!-- Botones de la lista-->
														<button ng-if="!curso.show" class="btn btn-default btn-xs" ng-click="curso.show=true; editCurso(curso)" bs-tooltip="tooltip.tooltipEdit">
															<span data-animation="am-flip-x" class="glyphicon glyphicon-edit"></span>
														</button>
														<button ng-if="!curso.show" class="btn btn-default btn-xs" bs-tooltip="tooltip.tooltipDelete" ng-click="deleteCurso(curso)">
															<span class="glyphicon glyphicon-trash"></span>
														</button>
														<!-- Botones editando curso -->
														<button ng-if="curso.show" class="btn btn-primary btn-sm" bs-tooltip="tooltip.tooltipSaveEdit" ng-click="curso.show=false;saveEditCurso(nuevoCursoObj.listaCursos.indexOf(curso), copiaCurso);" ng-disabled="formRow.division.$invalid">
															<span class="glyphicon glyphicon-ok"></span>
														</button>
														<button ng-if="curso.show" class="btn btn-default btn-sm" ng-click="curso.show=false" bs-tooltip="tooltip.tooltipCancelEdit">
															<span class="glyphicon glyphicon-remove"></span>
														</button>
													</td> 
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div ng-form="form" novalidate>	
										<div class="panel-heading">
											<div class="form-group">
												<div class="col-md-3" ng-class="{ 'has-error': form.divisionn.$touched && form.divisionn.$invalid }">
													<input type="text" name="divisionn" class="form-control" ng-model="addCursoObj.division"  placeholder="División" maxlength="185" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ 0-9]*"/>
													<div ng-messages="form.divisionn.$error" ng-if="form.divisionn.$touched && form.divisionn.$invalid">
														<div ng-message="pattern" class="help-block" style="position: fixed;">Formato invalido</div>
														<div ng-message="required" class="help-block" style="position: fixed;">Complete este campo</div>

													</div>
												</div>

												<div class="col-md-4" ng-class="{ 'has-error': form.turno.$touched && form.turno.$invalid }">
													<input type="text" name="turno" class="form-control" ng-model="addCursoObj.turno"  placeholder="Turno" maxlength="185" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ 0-9]*"/>
													<div ng-messages="form.turno.$error" ng-if="form.turno.$touched && form.turno.$invalid">
														<div ng-message="pattern" class="help-block" style="position: fixed;">Formato invalido</div>
														<div ng-message="required" class="help-block" style="position: fixed;">Complete este campo</div>
													</div>
												</div>

												<div class="col-md-3">
													<button class="form-control btn btn-primary" type="submit" ng-disabled="!form.$valid" ng-click="addCurso(addCursoObj); reset()">Agregar</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
<!-- 						<div class="form-group" ng-class="{ 'has-error': formCurso.division.$touched && formCurso.division.$invalid }">
							<div class="col-md-4 control-label">
								<span class="glyphicon glyphicon-asterisk alert-warning small"></span><label> Divisi&oacute;n:</label>
							</div>
							<div class="col-md-7">
								<button type="button" name="division" class="btn btn-default" ng-model="newAnio.listaCursos" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="curso.idCurso as curso.curso+'-'+curso.turno for curso in cursos" bs-select required>
								</button>
								<input class="btn btn-info" style="margin-left: 10px;" type="button" ng-click="addCurso()" value="Administrar"/>
								<div ng-messages="formCurso.division.$error" ng-if="formCurso.division.$touched && formCurso.division.$invalid">
									<div ng-message="required" class="help-block">Seleccione al menos una opci&oacute;n</div>
								</div>
							</div>{{newAnio.cursos}}
						</div> <!--/form-group-->

						<div class="form-group">
							<div class="col-md-2 col-md-offset-4">
								<input class="btn btn-danger" type="button" ng-click="clearFormCurso()" value="Limpiar"/>
							</div>
							<div class="col-md-3 col-md-offset-1">
								<input class="btn btn-primary" type="button" ng-click="newCurso(nuevoCursoObj)" value="Guardar"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>

	<div id="administrarAnio" ng-show="administrarAnio">  <!--lista centrada -->
		<fieldset>
			<h1>{{subtitle}}<small>: Seleccione el a&ntilde;o y divisi&oacute;n que desee administrar</small></h1>
			<hr>
			<label for="">A&ntilde;o:</label> 
			<select
			class="dropdown-toggle form-control-inline" name="" ng-model="dropDownValue"> <!-- ng-change="update(dropDownValue, option)"> -->
			<option ng-repeat="option in dropDownOptions" value="{{dropDownOptions}}">{{option}}</option>
		</select>
		<label for="">Divisi&oacute;n:</label> 
		<select
		class="dropdown-toggle form-control-inline" name="" ng-model="dropDownDivisionValue"> <!-- ng-change="update(dropDownValue, option)"> -->
		<option ng-repeat="option in dropDownDiviosnOptions" value="{{dropDownDiviosnOptions}}">{{option}}</option>
	</select>
	<button class="btn btn-info" ng-click="acept()">Aceptar</button>

	<div id="listFilters" ng-show="listAnioIsEnabled">
		<table class="table  table-hover table-striped">
			<thead>
				<tr>
					<th>Nro</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>DNI</th>
					<th>Acciones</th>						
				</tr>
			</thead>
			<tr ng-repeat="alumno in test | filter:filterByName">
				<td>{{alumno.nro}}</td>
				<td>{{alumno.name}}</td>
				<td>{{alumno.surName}}</td>
				<td>{{alumno.DNI}}</td>
				<td><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipProfile" style="width:25%; cursor: pointer" class="glyphicon glyphicon-user" ></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipDelete" style="width:25%; cursor: pointer" class="glyphicon glyphicon-remove-circle"></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipChange" style="width:25%; cursor: pointer" class="glyphicon glyphicon-edit"></span></td> 
					<!--<td>{{alumno.name}}</td>
					<td>{{alumno.phone}}</td>
					<td>{{$index}}</td> -->
				</tr>
			</table>
			
			<label>Asignar alumnos que no se encuentran asignados: <input type="checkbox" ng-model="checked" ng-init="checked=false"/></label><br/>

			<div ng-if="checked" class="animate-if">
				<table class="table  table-hover table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>DNI</th>
							<th>Acciones</th>						
						</tr>
					</thead>
					<tr ng-repeat="alumno in test | filter:filterByName">
						<td>{{alumno.name}}</td>
						<td>{{alumno.firstName}}</td>
						<td>{{alumno.DNI}}</td>
						<td><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipEdit" style="width:25%; cursor: pointer" class="glyphicon glyphicon glyphicon-pushpin" ></span></td> 
					<!--<td>{{alumno.name}}</td>
					<td>{{alumno.phone}}</td>
					<td>{{$index}}</td> -->
				</tr>

			</table>
			<button class="btn btn-info">Finalizar</button>

		</div>
		<input class="btn btn-primary" type="submit" name=""
		value="Guardar" style="margin: 10% 45%"/>
	</div>


</fieldset>

</div>

</div>