<div class="col-md-2 hidden-sm hidden-xs">
	<div>
		<!-- ngInclude: 'views/partials/affixed-sidebar.html' -->
		<div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix style="position: relative; text-align: right;">
			<ul class="nav bs-sidenav">
				<li bs-scrollspy data-target="#getting-started">
					<a href="#getting-started">Men&uacute; materia</a>
				</li>
				<hr style="margin: 2px 0;">
				<li data-target="#modals" ng-class="{active : activeMenuIzqAlu === 1}">
					<a href="" ng-click="seleccionar('listado'); setActiveAlu(1)">Listado</a>
				</li>
				<li data-target="#nuevaMateria" ng-class="{active : activeMenuIzqAlu === 2}">
					<a href="" ng-click="seleccionar('nuevaMateria'); setActiveAlu(2)">Nueva materia</a>
				</li>
			</ul>
		</div>
		<!--/ngInclude: 'views/partials/affixed-sidebar.html' -->
	</div>
</div>

<div class="col-md-10">
	<h1>Materias</h1>
	<hr>
	<div id="listado" ng-show="listado1" style="width: 80%; margin: 0% 10%">  <!--lista centrada -->
		<fieldset class="navbar">
			<legend>Listado</legend>
			<label for="">A&ntilde;o:</label> <select
			class="dropdown-toggle form-control-inline" name="" ng-model="filterByYear"> <!-- ng-change="update(dropDownValue, option)"> -->
			<option value="" disabled selected>Seleccione una opci&oacute;n</option>
			<option value="">Todos</option>
			<option ng-repeat="option in dropDownOptions"  value="{{option}}">{{option}}</option>
		</select>{{filterByYear}}
		<!--<button ng-click="search()">Buscar</button>-->
		
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>A&ntilde;o</th>
					<th>Docente titular</th>
					<th>&Aacute;rea</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tr ng-repeat="materia in friends | filter:filterByYear">
				<td>{{materia.nombre}}</td>
				<td>{{materia.anioPertenece}}</td>
				<td>{{materia.docenteTitular}}</td>
				<td>{{materia.area}}</td>
				<td style="width:10%;"><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipEdit" style="width:50%; cursor: pointer" class="glyphicon glyphicon-edit" ></span><span data-animation="am-flip-x" bs-tooltip="tooltip.tooltipRemove" style="width:50%; cursor: pointer" class="glyphicon glyphicon-remove-circle"></span></td> 
					<!--<td>{{alumno.name}}</td>
					<td>{{alumno.phone}}</td>
					<td>{{alumno.anio}}</td>
					<td>{{$index}}</td> -->
				</tr>
			</table>
		</fieldset>
	</div>

	<div id="nuevaMateria" ng-show="!listado1">
		<fieldset>
			<legend>Nueva Materia</legend>
			<span class="help-block">Complete los datos para dar de alta una 
				nueva materia y presione guardar al finalizar</span>
			<!--<div class="cargar_imagen">
				<img src="images/defaultUser.png" alt="Usuario" width="190px" height="auto"/>
				<span class="btn btn-primary btn-file">Examinar<input type="file"></span>
			</div>-->

			<form class="form-horizontal media">
				<!--<div class="pull-right">
						<img class="img-rounded" src="images/defaultUser.png" alt="Usuario" width="220px" height="auto"/>
					<div class="btn btn-primary btn-file" id="boton">Examinar<input type="file"></div>
				</div>	-->

				<div class="formulario media-body">

					<div class="form-group">
						<div class="col-sm-3 control-label">
							<label for="">Nombre:</label>
						</div>
						<div class="col-sm-4">
							<input class="form-control" placeholder="Física" type="text"
							maxlength="10" required pattern="[a-zA-Z ]*">
						</div>
						<!-- Valida 8 digitos -->
						
					</div>
					<!-- /form-group-->
					<div class="form-group">
						<div class="col-sm-3 control-label">
							<label for="">Descripción:</label>
						</div>
						<div class="col-sm-4">
							<input class="form-control" placeholder="" type="text"
							maxlength="10" required pattern="[a-zA-Z ]*">
						</div>
						<!-- Valida 8 digitos -->
						
					</div>
					<!-- /form-group-->

					<div class="form-group">
						<div class="col-sm-3 control-label">
							<label for="">Docente titular:</label>
						</div>
						<div class="col-sm-4">
							<select class="form-control" name="Año">
								<option value="">Rodriguez, I. M. - [CUIL]</option>
								<option value="">Santana, T. S. - [CUIL]</option>
							</select>
						</div>
					</div>
					<!-- /form-group-->

					<div class="form-group">
						<div class="col-sm-3 control-label">
							<label for="">Docente suplente:</label>
						</div>
						<div class="col-sm-4">
							<select class="form-control" name="Año">
								<option value="">Rodriguez, I. M. - [CUIL]</option>
								<option value="">Santana, T. S. - [CUIL]</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3 control-label">
							<label for="">Año al que pertenece:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" name="Año">
								<option value="">1º</option>
								<option value="">2º</option>
							</select>
						</div>
					</div>
					<!-- /form-group-->
					<div class="form-group">
						<div class="col-sm-3 control-label">
							<label for="">Área:</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control" style="width:100%" placeholder="Cs. Exactas" type="text"
							maxlength="10" required pattern="[a-zA-Z ]*" readonly>
						</div>
						<div class="col-sm-1">
							<input class="btn btn-info" type="button" onclick="alert('acá va el modal')" name=""
							value="Elegir" />
						</div>
					</div><!-- /form-group-->
					<div class="form-group">
						<div class="col-sm-5 control-label">
							<input class="btn btn-primary" type="submit" name=""
							value="Guardar"/>
						</div>
					</div>
				</div>

			</form>
		</fieldset>

	</div>
</div>