
<div class="container">   
  <spinner name="loginSpinner" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner-small">                 
      <div>
        <div class="ng-include: './views/templates/defaultspinner.html'"></div>
      </div>
    </div>
    <div class="please-wait-small">Aguarde por favor...</div>
  </spinner> 
  <div id="loginbox" style="margin-top:100px" class="mainbox col-md-6 col-md-offset-3">                    
    <div class="panel panel-info" style="box-shadow: 10px 10px 5px #888888;" ng-show="enableLoginForm">
      <div class="panel-heading">
        <center><div class="panel-title">Iniciar sesión</div></center>
      </div>
      <div class="panel-body" style="padding-top:30px">
        <form id="loginform" name="loginForm" class="form-horizontal center-block" role="form" novalidate>
          <div class="personal-info">
            <div class="container">
              <div class="form-group" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Usuario" ng-model="data.username" required> 
                </div>                                       
                <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched && loginForm.username.$invalid">
                  <div ng-message="required" class="help-block">Complete este campo</div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input id="login-password" type="password" class="form-control" name="password" placeholder="Contraseña" ng-model="data.password" required>
                </div>
                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched && loginForm.password.$invalid">
                  <div ng-message="required" class="help-block">Complete este campo</div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': loginForm.loginRole.$touched && loginForm.loginRole.$invalid }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                  <select class="dropdown-toggle form-control" name="loginRole" ng-model="data.role" required> <!-- ng-change="update(dropDownValue, option)"> -->
                    <option value="" disabled selected>Seleccione una opci&oacute;n</option>
                    <option ng-repeat="role in roleOptions" value="{{role}}">{{role}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div style="margin-top:10px" class="form-group">
              <div class="controls">
                <center>
                  <button id="btn-login" class="btn btn-info" ng-disabled="!loginForm.$valid" ng-click="login(data)">Ingresar</button>
                </center>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-12 control">
               <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                <a href="#" ng-click="enablePage('recoverPassword')">Olvid&eacute; mi contrase&ntilde;a</a>
              </div>
            </div>
          </div>  
        </div>  
      </form>     



    </div>                     
  </div>  

  <div class="panel panel-info" style="box-shadow: 10px 10px 5px #888888;" ng-show="!enableLoginForm">
    <div class="panel-heading">
      <center><div class="panel-title">Recuperar contrase&ntilde;a</div></center>
    </div>
    <div class="panel-body" style="padding-top:30px">
      <form id="loginform" name="recoverForm" class="form-horizontal center-block" role="form" novalidate>
        <div class="personal-info">
          <div class="container">
            <div class="form-group" ng-class="{ 'has-error': recoverForm.recoverUserName.$touched && recoverForm.recoverUserName.$invalid }">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-recoverUserName" type="text" class="form-control" name="recoverUserName" value="" placeholder="Ingrese su usuario" ng-model="recoverData.recoverUserName" required> 
              </div>                                       
              <div ng-messages="recoverForm.recoverUserName.$error" ng-if="recoverForm.recoverUserName.$touched && recoverForm.recoverUserName.$invalid">
                <div ng-message="required" class="help-block">Complete este campo</div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': recoverForm.recoverMail.$touched && recoverForm.recoverMail.$invalid }">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-recoverMail" type="text" class="form-control" name="recoverMail" value="" placeholder="Ingrese su mail" ng-model="recoverData.recoverMail" required> 
              </div>                                       
              <div ng-messages="recoverForm.recoverMail.$error" ng-if="recoverForm.recoverMail.$touched && recoverForm.recoverMail.$invalid">
                <div ng-message="required" class="help-block">Complete este campo</div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': recoverForm.recoverRole.$touched && recoverForm.recoverRole.$invalid }">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <select class="dropdown-toggle form-control" name="recoverRole" ng-model="recoverData.recoverRole" required> <!-- ng-change="update(dropDownValue, option)"> -->
                  <option value="" disabled selected>Seleccione una opci&oacute;n</option>
                  <option ng-repeat="role in roleOptions" value="{{role}}">{{role}}</option>
                </select>
              </div>
            </div>
          </div>

          <div style="margin-top:10px" class="form-group">
            <div class="controls">
              <center>
                <button id="btn-login" class="btn btn-danger" ng-click="enablePage('login')">Cancelar</button>

                <button id="btn-login" class="btn btn-info" ng-disabled="!recoverForm.$valid" ng-click="changePassword(recoverData)">Enviar Mail</button>
              </center>
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-12 control">
             <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
              Complete el nombre de usuario o Mail, seleccione el rol y presione el bot&oacute;n Enviar Mail
            </div>
          </div>
        </div>  
      </div>  
    </form>     



  </div>                     
</div> 

</div>
</div>