<div class="container">    
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <center><div class="panel-title">Iniciar sesión</div></center>

      </div>     

      <div class="panel-body">
        <form id="loginform" name="loginForm" class="form-horizontal center-block" role="form" novalidate>
          <div class="personal-info">
            <div class="container">
              <div class="form-group" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Usuario" ng-model="data.username" required> 
                </div>                                       
                <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched && loginForm.username.$invalid">
                  <div ng-message="required" class="help-block">Complete este campo</div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input id="login-password" type="password" class="form-control" name="password" placeholder="Contraseña" ng-model="data.password" required>
                </div>
                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched && loginForm.password.$invalid">
                  <div ng-message="required" class="help-block">Complete este campo</div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': loginForm.loginRole.$touched && loginForm.loginRole.$invalid }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                  <select class="dropdown-toggle form-control-inline" name="loginRole" ng-model="data.role" required> <!-- ng-change="update(dropDownValue, option)"> -->
                    <option value="" disabled selected>Seleccione una opci&oacute;n</option>
                    <option ng-repeat="role in roleOptions" value="{{role}}">{{role}}</option>
                  </select>
                </div> {{data}}
              </div>
            </div>

            <div style="margin-top:10px" class="form-group">
              <div class="col-sm-12 controls">
                <center>
                  <a id="btn-login" href="#" class="btn btn-info" ng-disabled="!loginForm.$valid" ng-click="login(data)">Ingresar</a>
                </center>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-12 control">
               <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                <a href="#">Olvidé mi contraseña</a>
              </div>
            </div>
          </div>  
        </div>  
      </form>     



    </div>                     
  </div>  
</div>
</div>