<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{title}}</h4>{{modalx.addressData.nombre}} {{afsdkjakfshkasjfha}}
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" role="alert">* Campos obligatorios</div>
				<form class="form-horizontal media">
					<div class="formulario media-body">
						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for=""><a style="color: red">*</a>Calle:</label>
							</div>
							<div class="col-sm-4">
								<input ng-model="modalx.addressData.calle" class="form-control" placeholder="Sarobe" type="tel" maxlength="254" required pattern="[a-zA-Z 0-9]*"/>
							</div>
							<div class="col-sm-2 control-label">
								<label for="">N&uacute;mero:</label>
							</div>
							<div class="col-sm-2">
								<input ng-model="modalx.addressData.numero" class="form-control" placeholder="123" type="tel" maxlength="6" required pattern="[0-9]*"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Piso:</label>
							</div>
							<div class="col-sm-2">
								<input ng-model="modalx.addressData.piso" class="form-control" placeholder="12" type="tel" maxlength="3" required pattern="[0-9]*"/>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Localidad:</label>
							</div>
							<div class="col-sm-5">
								<input ng-model="modalx.addressData.localidad" class="form-control" placeholder="Parana" type="tel" maxlength="254" required pattern="[a-zA-Z ]*"/>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Departamento:</label>
							</div>
							<div class="col-sm-5">
								<input ng-model="modalx.addressData.dpto" class="form-control" placeholder="Piso" type="tel" maxlength="254" required pattern="[0-9]*"/>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Departamento:</label>
							</div>
							<div class="col-sm-5">
								<input ng-model="modalx.addressData.departamento" class="form-control" placeholder="Parana" type="tel" maxlength="254" required pattern="[a-zA-Z ]*"/>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Provincia:</label>
							</div>
							<div class="col-sm-4">
								<input ng-model="modalx.addressData.provincia" class="form-control" placeholder="Entre Rios" type="tel" maxlength="254" required pattern="[a-zA-Z ]*"/>
							</div>
							<div class="col-sm-3 control-label">
								<label for="">C&oacute;digo Postal:</label>
							</div>
							<div class="col-sm-2">
								<input ng-model="modalx.addressData.codigoPostal" class="form-control" placeholder="3100" type="tel" maxlength="6" required pattern="[0-9]*"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Barrio:</label>
							</div>
							<div class="col-sm-5">
								<input ng-model="modalx.addressData.barrio" class="form-control" placeholder="Barrio" type="tel" maxlength="254" required pattern="[a-zA-Z 0-9]*"/>
							</div>
						</div>
					</div>
				</form>
				<div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">* Campos obligatorios</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$hide()">No</button>
				<button type="button" class="btn btn-primary" autofocus ng-click="$hide()">Si</button><!--incluir llamada a funcion aceptar-->
			</div>
		</div>
	</div>
</div>


