<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 55%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{title}}</h4><!-- {{modalx.phoneData}} -->
			</div>
			<div class="modal-body">

				
					<div class="alert alert-danger" role="alert">* Campos obligatorios</div>

					<form class="form-horizontal media">
						<div class="formulario media-body">
						<div class="form-group col-sm-15">

							<div class="col-sm-2 control-label">
								<label for="">Cararcter&iacute;stica:</label>
							</div>
							<div class="col-sm-2">
								<input style="float: left;"class="form-control" placeholder="343" type="tel" maxlength="5" required pattern="\d{5}"/>
							</div>
						
						<div class="col-sm-2 control-label">
							<label for="">N&uacute;mero:</label>
						</div>
						<div class="col-sm-3">
							<input class="form-control" placeholder="4351234" type="tel" maxlength="10" required pattern="\d{10}"/>
						</div>
						
							<div class="col-sm-1 control-label">
								<label for="">Tipo:</label>
							</div>
							<div class="col-sm-2">
								<!-- <input class="form-control" placeholder="Casa/Fijo/celular/Fax" type="tel" maxlength="64" required pattern="[a-zA-Z ]*"/> -->
								<select name="Tipo"  class="form-control">
								<option value="">Casa</option>
								<option value="">Celular</option>
								<option value="">Padre</option>
								<option value="">Madre</option>
								<option value="">Otro</option>
							</select>
							</div>
						</div>
						</div>
					</form>	
					<div class="alert alert-danger" role="alert">* Campos obligatorios</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$hide()">No</button>
						<button type="button" class="btn btn-primary" autofocus ng-click="$hide()">Si</button><!--incluir llamada a funcion aceptar-->
					</div>
				</div>
			</div>
		</div>
</div>
		


<!-- <fieldset> PENSE QUE PODIA TENER UN AGREGAR OTRO TEL O ALGO ASI Y QUE VAYAN APARECIENDO, ASI QUE DEJO COMENTADO ESTO
<legend>Tel&eacute;fono</legend>
<div class="form-group">

	<div class="col-sm-2 control-label">
		<label for="">Cararcter&iacute;stica:</label>
	</div>
	<div class="col-sm-1">
		<input class="form-control" placeholder="343" type="tel" maxlength="5" required pattern="\d{5}"/>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-2 control-label">
		<label for="">N&uacute;mero:</label>
	</div>
	<div class="col-sm-2">
		<input class="form-control" placeholder="4351234" type="tel" maxlength="10" required pattern="\d{10}"/>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-2 control-label">
		<label for="">Tipo:</label>
	</div>
	<div class="col-sm-2">
		<input class="form-control" placeholder="Casa/Fijo/celular" type="tel" maxlength="64" required pattern="[a-zA-Z ]*"/>
	</div>
</div>
</fieldset> -->