<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      <h4 class="modal-title">Aviso</h4>
		    </div>
		    <div class="modal-body">
		      <p>¿Desea cambiar {Nombre Apellido DNI} a:?</p>
		      <p>
		        <label for="">Año:</label>
		        <select class="form-control" name="Año">
		          <option value="">7°</option>
		          <option value="">1°</option>
		          <option value="">2°</option>
		        </select>
		        <label for="">División:</label>
		        <select class="form-control" name="Año">
		          <option value="">A Vespertino</option>
		          <option value="">B Vespertino</option>
		          <option value="">C Matutino</option>
		        </select>
		      </p>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-danger" ng-click="$hide()" data-dismiss="modal">Cancelar</button>
		      <button type="button" class="btn btn-primary" ng-click="$hide()" autofocus>Aceptar</button> <!--incluir llamada a funcion aceptar-->
		    </div>
		  </div>
	</div>
</div>
