<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  	<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{parametro.title}}</h4>
    </div>
    <div class="modal-body">
      <label for="">Incripción del alumno: </label>{nombreAlumno}<br>
      <label for="">Matrícula: </label>{numMatricula}<br>
      <label for="">Mesa N°: </label>{numeroMesa}<br>
      <label for="">Año: </label>{año}<br>
      <label for="">Materia: </label>{nombreMateria}<br>
      <label for="">Fecha: </label>{dd/mm/aaaa}<br>
      <label for="">Hora: </label>{hh:mm}<br>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" ng-click="$hide()" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary" ng-click="$hide()" autofocus>Confirmar</button>
    </div>
  </div><!-- /.modal-content -->
  </div>
</div>