<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 70%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{title}}</h4>
			</div>
			
			<div class="modal-body">
				<!-- <form class="form-horizontal media">
					<div class="formulario media-body">
						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">DNI:</label>
							</div>
							<div class="col-sm-3 control-label">
								<span for="">36406068</span>
							</div>
							</div>
							<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Apellido:</label>
							</div>
							<div class="col-sm-3 control-label">
								<span for="">Herrlein</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Nombre:</label>
							</div>
							<div class="col-sm-3 control-label">
								<span for="">Martin Gerardo</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-3 control-label">
								<label for="">Tel&eacute;fonos:</label>
							</div>
							<div class="col-sm-3 control-label">
								<span for="">3434354755 - 343155013187</span>
							</div>
						</div>

						
							
						</div>
					
					</form> -->
					<div class="container">
						<div class="row">
							<!-- left column -->
							<div class="col-md-4">
								<div class="text-center">
									<img src="//placehold.it/200" class="avatar img-circle" alt="avatar">
								</div>
							</div>
							
							<!-- edit form column -->
							<div class="col-md-8 personal-info">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-lg-4">{{docente.tipoDocumento}} </label>
										<span class="col-lg-5">{{docente.nroDocumento}}</span>
									</div>
									<div class="form-group">
										<label class="col-lg-4">Apellido: </label>
										<span class="col-lg-5">{{docente.apellido}}</span>
									</div>
									<div class="form-group">
										<label class="col-lg-4">Nombre: </label>
										<span class="col-lg-5">{{docente.nombre}}</span>
									</div>
									<div class="form-group" ng-if="docente.listaTelefonos"> <!-- por si la lista es vacía no se muestra -->
										<label class="col-lg-4">Telefonos: </label> <!--cambiar por ng-repeat docente.listaTelefonos[$index].nroTelefono-->
										<span class="col-lg-5">{{docente.listaTelefonos[0].nroTelefono}} - {{docente.listaTelefonos[1].nroTelefono}}</span>
									</div>
									<div class="form-group">
										<label class="col-lg-4">Domicilio: </label>
										<span class="col-lg-5">{{docente.domicilio.calle}} - {{docente.domicilio.numero}}</span>
									</div>
									<div class="form-group"> <!-- poner ng-if=docente.listaMails -->
										<label class="col-lg-4">Correo electronico: </label>  <!--cambiar por ng-repeat -->
										<span class="col-lg-5">{{docente.listaMails[0].direccionMail}}</span>
									</div>
									<div class="form-group">
										<label class="col-lg-4">CUIL: </label>
										<span class="col-lg-5">{{docente.cuil}}</span>
									</div>
									<div class="form-group">
										<div class="col-lg-7">
											<a href="#" class="btn btn-success btn-block" ng-click="close()" data-dismiss="modal"><span class="glyphicon glyphicon-edit"></span> Editar perfil</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button><!-- si querés un comportamiento para el cancel le agregas ng-click="cancel()" -->
					<!-- <button type="button" class="btn btn-primary" autofocus data-dismiss="modal" ng-click="close(dni)">Si</button> incluir llamada a funcion aceptar-->
				</div>
			</div>
		</div>
	</div>


